html{
    min-height:100%;/* make sure it is at least as tall as the viewport */
    position:relative;
}
body{
    height:100%; /* force the BODY element to match the height of the HTML element */
}

h1 {
    font-size: 2em;
}

/*.container {
    flex-direction: column;
    align-content: center;
    justify-content: center;
    overflow-x: auto;
    color: #4e3549;
    fill: #4E3549;
}*/

/*********************************
*             HEADER             *
**********************************/

.header {
    width: 100vw;
    margin: 10px auto 0;
    position: absolute;
    top: 30px;
    left: 0;
}

.header img {
    height: 50px;
    position: absolute;
    top: 0;
    left: 30px;
}

.header-text-box {
    position: absolute;
    right: 30px;
    text-align: right;
}

/*****************/

.phase-container {
    display: none;
    text-align: center;
    margin: auto;
}

.phase-container h2 {
    font-size: 2em;
    /*line-height: 1;*/
    padding: 0 10px;
}

.phase-container svg {
    margin-top: 20px;
    height: 80px;
    width: 80px;
    fill: #4e3549;
}

.phase-container h1 {
    font-size: 2.5em;
}

/*********************************
*           STATS CHART          *
**********************************/

.chart-wrapper {
    margin-top: 30px;
}

.bar-chart {
    display: block;
    overflow-x: auto;
    position: relative;
}

.bar-chart-row {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-content: center;
}

.cells {
    display: flex;
    flex-wrap: nowrap;
}

.bar-chart .scroll-icon {
    position: absolute;
    top: calc(50% - 25px);
    right: 5px;
    fill: #4E3549;
    opacity: 0.7;
    height: 50px;
    width: 50px;
    margin-top: 0;
}

.bar-chart-row {
    height: 30px;
    margin-bottom: 10px;
}

.stats-cell {
    display: flex;
    justify-content: center;
    align-items: center;
}

.chart-command-name,
.chart-column-heading {
    width: 70px;
}

.chart-command-name,
.row-total-score {
    margin: auto 0;
    flex-shrink: 0;
}

.row-total-score {
    padding: 0 10px;
}

.stats-cell:first-child,
#chart-legend-round-0-color {
    background-color: #D21D48;
    color: white;
}

.stats-cell:nth-child(2),
#chart-legend-round-1-color  {
    background-color: #E86444;
    color: white;
}

.stats-cell:nth-child(3),
#chart-legend-round-2-color  {
    background-color: #F5AD0E;
    color: white;
}

.stats-cell:nth-child(4),
#chart-legend-round-3-color  {
    background-color: #90798B;
    color: white;
}

.stats-cell:nth-child(5),
#chart-legend-round-4-color  {
    background-color: #4e3549;
    color: white;
}

.chart-legend {
    display: flex;
    margin: 10px 20px;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.chart-legend-element {
    display: flex;
    align-items: center;
}

.chart-legend-color {
    padding: 10px;
    border-radius: 5px;
    margin: 5px 5px;
}

/*********************************
*          PLAYER LOGOUT         *
**********************************/

.logout-wrapper {
    align-self: end;
    margin: 10px 10px 10px auto;
    text-align: center;
}

.logout-text {
    color: #4e3549;
    cursor: pointer;
}

.logout-text:hover {
    color: tomato;
}

/*********************************
*        SEND RESPONSES BTN      *
**********************************/

.warning {
    color: tomato;
}

@media (max-width: 340px) {
    .phase-container h1,
    .phase-container h2 {
        font-size: 1.2em;
    }
}

@media (min-width: 769px) {

}

