body {
    background: none;
}

.container {
    margin: 0;
    width: 100%;
    height: 100%;
    border-radius: 0;
}

.header {
    top: 20px;
}

#phase-1 {
    flex-direction: column;
    margin: 0 auto auto;
}

#phase-1 h2 {
    font-size: 20px;
    margin: 110px 10px 0;
    justify-self: flex-start;
    font-family: "Circe Light", serif;
}

#phase-2 {
    margin-top: 100px;
}

#phase-2 > h2 {
    font-size: 25px;
    line-height: 1.1;
}

.risk-grid {
    display: grid;
    width: 100%;
    grid-template-columns: repeat(4, auto);
    grid-template-rows: repeat(3, auto);
    grid-gap: 0;
    align-items: start;
    justify-content: center;
    margin: 20px auto;
    /*grid-template-rows: ;*/
}

.small-img-wrapper {
    width: 100%;
    cursor: pointer;
    position: relative;
}

.open {
    width: 90% !important;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
}

.scale-on-hover:hover {
    position: relative;
    transform: scale(1.1);
    z-index: 1;
}

.risk-grid img,
img[id$='-large-img'] {
    width: 100%;
    display: block;
}

.answer-input-popup p {
    margin-bottom: 10px;
    font-size: 1.2em;
}

.risk-indicator {
    width: 20px;
    height: 20px;
    border-radius: 10px;
    position: absolute;
    z-index: 1;
    right: 5px;
    top: 5px;
}

.popup-content {
    width: 95%;
}

.risk-img-cell svg.close-popup-btn {
    position: absolute;
    top: 15px;
    right: 15px;
    width: 15px;
    height: 15px;
    /*transform: translate(-50%, 0);*/
    cursor: pointer;
    margin: 0;
}

.popup-content p.close-popup-btn {
    width: 100px;
    border: #4E3549 0.5px solid;
    border-radius: 10px;
    margin: 20px auto 5px;
    padding: 10px 0;
    cursor: pointer;
}

.popup-content p.close-popup-btn:hover {
    background-color: #4e3549;
    color: white;
}

.correct-answer-cover {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.5;
}

.small-img-wrapper .correct-answer-icon {
    position: relative;
    width: 80%;
    height: 80%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0;
}

.correct-answer-cover .sector-score-text {
    position: absolute;
    bottom: 5px;
    left: 10px;
    font-size: 1.5em;
    z-index: 2;
}

.correct-answer-cover.no-level {
    opacity: 0.6;
}

#show-correct-answers-btn {
    font-family: "Circe Light", serif;
    text-decoration: underline;
}

/****************************************
*              SECTOR-PHASES            *
****************************************/

.sector-phases {
    height: 100%;
    align-content: center;
}

.sector-phases .img-wrapper {
    width: 90%;
    margin: auto;
}

.sector-phases img {
    width: 100%;
}

.sector-phases .image-placeholder {
    width: 95%;
    height: 350px;
    background-color: #959595;
    margin: auto;
}

.sector-header,
.sector-stats,
.sector-phases h2 {
    margin: 20px;
}

.sector-header {
    display: flex;
    justify-content: space-between;
}

.sector-header .sector-name {
    justify-self: flex-start;
}

.sector-header .logout-wrapper {
    justify-self: flex-end;
    margin: 0;
}

.stats-row {
    margin: 5px 0;
    display: flex;
    flex-wrap: nowrap;
    align-content: center;
}

.stats-row .indicator {
    width: 30px;
    height: 30px;
    border-radius: 2px;
}

.stats-row .indicator.low-level {
    width: 60px;
}

.stats-row .indicator.mid-level {
    width: 210px;
}

.stats-row .indicator.high-level {
    width: 90px;
}

.stats-row p {
    font-size: 1.2em;
    padding: 0 20px;
    margin: auto 0;
}

.flash-placeholder {
    margin: 0 30px;
}

.congratulation-text {
    font-family: "Circe Bold", serif;
    line-height: 1.4;
    font-size: 18px;
    padding: 10px 20px 0;
}

/*********************************
*          HOW IT SCORES         *
**********************************/

.how-it-scores-btn {
    font-family: "Circe Light", serif;
    text-decoration: #4E3549 underline;
    cursor: pointer;
}

.how-it-scores-grid {
    display: grid;
    width: 100%;
    grid-gap: 5px;
    align-content: center;
    justify-content: center;
    align-items: center;
    justify-items: center;
}

/* OFFICE */



/* HOTEL */

.how-it-scores-grid-hotel {
    grid-template-columns: repeat(3, auto);
    grid-template-rows: repeat(8, auto);
}

.how-it-scores-grid-hotel svg {
    width: 20px;
    height: 20px;
    margin: 0 auto;
}

/*********************************
*      CORRECT ANSWER POPUP      *
**********************************/

.correct-answer-popup .popup-content {
    text-align: left;
}

.possible-results {
    display: grid;
    grid-template-rows: auto auto;
    grid-template-columns: repeat(5, auto);
    align-items: center;
    justify-items: center;
    margin: 10px 0;
    grid-gap: 2px;
}

.correct-answer-wrapper {
    display: flex;
    justify-content: start;
    align-content: center;
    margin: 10px 0;
}

.correct-answer-circle {
    width: 30px;
    height: 30px;
    border-radius: 15px;
}

.possible-results .correct-answer-circle {
    width: 50px;
    height: 50px;
    border-radius: 25px;
    display: flex;
    justify-content: center;
    opacity: 0.3;
}

.correct-answer-circle.selected {
    opacity: 1;
}

.possible-results .correct-answer-circle p {
    margin: auto;
}

.correct-answer-wrapper .correct-answer-circle {
    margin-left: 10px;
}

.correct-answer-comment {
    font-family: "Circe Light", serif;
    margin-top: 10px;
    max-height: 80px;
    overflow-y: auto;
}

.correct-answer-popup .close-popup-btn {
    text-align: center;
}


/*********************************
*          MEDIA QUERIES         *
**********************************/

@media (min-width: 500px) {
    .popup-content {
        width: 85%;
    }

    .correct-answer-comment {
        max-height: unset;
        overflow-y: unset;
    }
}

@media (max-width: 340px) {
    .congratulation-text {
        font-size: 16px;
    }
}

@media (min-width: 600px) {
    .risk-grid {
        grid-template-columns: repeat(4, 130px);
        grid-template-rows: repeat(3, 122.453px);
    }

    .small-img-wrapper {
        width: 130px;
    }

    .popup-content {
        width: 50%;
    }
}

@media (min-width: 769px) {
    .popup-content {
        max-width: 500px;
    }

    #phase-1 h2 {
        margin-top: 40px;
    }
}