#phase-0 {
    display: block;
    padding: 10px;
    margin: 80px 0 auto;
    text-align: left;
}

#phase-0 h2 {
    text-align: center;
    margin: 10px 0;
}

p, li {
    font-family: "Circe Light", serif;
}

#phase-0 li {
    margin-left: 20px;
}

.how-it-scores-btn {
    text-align: center;
    margin: 10px 0;
}

.rules-container {
    max-height: 240px;
    overflow-y: scroll;
}

.next-phase-btn,
.try-again-btn {
    padding: 10px;
    background-color: #4a9d61;
    border-radius: 10px;
    color: white;
    margin: 20px auto;
    display: block;
}

.sector-score-text {
    font-family: "Circe Bold", serif;
}

.last-ten-seconds {
    color: tomato;
}

.alert-digit {
    position: absolute;
    font-family: "Circe Bold", serif;
    opacity: 0.5;
    top: 30px;
    font-size: 10em;
    transform: translateX(-50%);
    margin: auto;
    left: 50%;
    z-index: 100;
}

@media (min-width: 350px) {
    .rules-container {
        max-height: unset;
        overflow-y: unset;
    }
}

@media (min-width: 769px) {
    .rules-container {
        margin: auto;
        max-width: 500px;
    }
}