.phase-container {
    display: block;
    margin-top: 80px;
}

.centered-phase-container {
    margin: auto;
}

.timer {
    position: fixed;
    top: 45px;
    left: 50%;
    transform: translateX(-50%);
}

.instant-message {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 30px 10px;
    z-index: 10;
    text-align: left;
    background-color: #bcb3bb;
}

.instant-message.success {
    background-color: #4a9d61;
    color: white;
}

#send-roles-phase, #send-instructions-phase {
    text-align: left;
    padding: 20px;
}

#send-roles-phase svg {
    width: 100%;
    height: 100px;
    margin: 50px auto 0;
}

#phase-6 {
    margin-top: 80px;
}

.instruction {
    margin-top: 20px;
}

.hospital-number {
    color: #4158d0;
}

.room-number {
    color: #2c9d1c;
}

#send-responses-btn {
    margin-top: 20px;
}

/*********************************
*            SURVEY              *
**********************************/

.survey .survey-heading {
    text-align: center;
    margin: 10px;
}

/*********************************
*       SALESMAN'S SURVEY        *
**********************************/

.survey-salesman {
    text-align: left;
    width: 100%;
    padding: 10px;
}

.survey-salesman input {
    width: 100px;
    border: none;
    border-bottom: #4e3549 1px solid;
    text-align: center;
    color: #4e3549;
    margin: 0 auto 10px;
    display: block;
}

/*********************************
*      EXPERTISE-ESTIMATION      *
**********************************/

.expertise-estimation {
    padding: 10px 10px 0;
    width: 100%;
}

.expertise-estimation-heading {
    position: relative;
}

.expertise-estimation-heading p {
    padding: 0 10px;
    position: relative;
    z-index: 1;
    background: #fff;
    display: inline-block;
}

.expertise-estimation-heading .back-line {
    height: 1px;
    background-color: #4e3549;
    width: 100%;
    position: absolute;
    top: 50%;
}

.expertise-estimation-answer-variants {
    display: flex;
    padding: 10px 0;
}

.ee-answer-variant {
    padding: 5px;
    flex-grow: 1;
    text-align: center;
    opacity: 0.35;
}

.ee-answer-variant:first-child {
    border-radius: 4px 0 0 4px;
}

.ee-answer-variant:last-child {
    border-radius: 0 4px 4px 0;
}

.low {
    background-color: tomato;
    color: white;
}

.mid {
    background-color: #fff11f;
}

.high {
    background-color: #4a9d61;
}

.ee-answer-variant.selected {
    opacity: 1;
}

.comments-input {
    width: calc(100% - 20px);
    padding: 10px;
    margin: 20px 10px 10px;
    height: 100px;
    background-color: #e3dae2;
    color: #4e3549;
    border-radius: 2px;
}

/*********************************
*       DRUGS DISTRIBUTION       *
**********************************/

#drugs-distribution-phase {
    padding: 10px 20px;
    text-align: left;
}

.drugs-distribution-help-btn {
    text-align: center;
    margin: 20px;
}

.drugs-distribution-help-popup .popup-content {
    width: 90%;
    text-align: left;
}

.drugs-distribution-help-popup .close-popup-btn {
    padding: 10px 0;
    border: #4e3549 1px solid;
    margin: 20px auto 0;
    text-align: center;
    border-radius: 4px;
    width: 100px;
}

.drugs-distribution-grid {
    max-width: 200px;
    margin: 20px auto;
    display: grid;
    grid-template-columns: 1fr 70px;
    grid-row-gap: 10px;
    align-items: center;
}

.drugs-distribution-grid input {
    text-align: center;
    border: none;
    border-bottom: #4e3549 1px solid;
    color: #4e3549;
}

#drugs-distribution-phase .send-responses-btn {
    margin: 30px auto;
    display: block;
}

/*********************************
*            RESULTS             *
**********************************/

#salesman-results-phase {
    padding: 0 10px;
}

.competencies-results-grid {
    margin-top: 10px;
    display: grid;
    grid-template-rows: repeat(4, auto);
    grid-template-columns: 1fr 50px;
    text-align: left;
    grid-column-gap: 20px;
}

.salesman-answer-result-grid {
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: repeat(3, 32%);
    grid-template-rows: repeat(2, auto);
    width: calc(100vw - 40px);
    flex: 0 0 auto;
}

.round-results-wrapper {
    margin-top: 10px;
    width: calc(100vw - 50px);
    position: relative;
}

.round-results-slider {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
}

.success-rate-top {
    color: goldenrod;
}

.success-rate-high {
    color: #4a9d61;
}

.success-rate-nearly-high {
    color: #86bd72;
}

.success-rate-mid {
    color: #efdf02;
}

.success-rate-low {
    color: #E86444;
}

.success-rate-very-low {
    color: #e80404;
}

.comments {
    text-align: left;
    margin-top: 10px;
}

.comment:not(:last-child) {
    border-bottom: #4e3549 1px solid;
    margin-bottom: 10px;
}

/*********************************
*          MEDIA QUERIES         *
**********************************/

@media (min-width: 500px) {
    .survey {
        max-width: 400px;
    }

    #phase-6-0, #phase-6-1 {
        margin: auto;
    }
}

@media (max-height: 630px) {
    #drugs-distribution-phase {
        margin-top: 80px;
    }
}