@font-face {
    font-family: "Circe Light";
    src: url("../fonts/CRC35.OTF");
}

@font-face {
    font-family: "Circe Bold";
    src: url("../fonts/CIRCE-BOLD.OTF");
}

* {
    margin: 0;
    padding: 0;
    font-family: "Circe Bold", serif;
    box-sizing: border-box;
    outline: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body {
    height: 100%;
    /*background: #9053c7;
    background: -webkit-linear-gradient(-135deg, #c850c0, #4158d0);
    background: -o-linear-gradient(-135deg, #c850c0, #4158d0);
    background: -moz-linear-gradient(-135deg, #c850c0, #4158d0);
    background: linear-gradient(-135deg, #c850c0, #4158d0);*/
    /*background: #4E3549;*/
}

/*.container {
    margin: 15px;
    width: calc(100vw - 30px);
    min-height: calc(100vh - 30px);
    background: #fff;
    border-radius: 10px;
    overflow: hidden;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
}*/

.secondary-color-bg {
    background-color: #ff8302 !important;
    color: white !important;
}

.flex-container {
    display: flex;
}

.flex-start {
    justify-content: flex-start;
}

.flex-col {
    flex-direction: column;
}

.error-message, .flash {
    width: 100%;
    background-color: tomato;
    color: white;
    padding: 5px;
    border-radius: 0 0 10px 10px;
    /*margin-top: -10px;*/
}

.flash-placeholder {
    height: 40px;
}

.flash {
    border-radius: 10px;
}

.success {
    background-color: #4a9d61;
}

.bold {
    font-family: "Circe Bold", serif;
}

.pale {
    opacity: 0.7;
}

.underlined {
    text-decoration: underline;
}

.inline {
    display: inline-block;
}

.v-centered {
    display: flex;
    align-items: center;
}

.dark-svg {
    fill: #4E3549;
}

.animated {
    -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    -moz-transition: all 0.5s;
    transition: all 0.5s;
}

.hidden {
    display: none;
}

/*********************************
*         FONT DECORATION        *
**********************************/

.light-font {
    font-family: "Circe Light", serif !important;;
}

.small-font-size {
    font-size: 16px;
}

.middle-font-size {
    font-size: 18px !important;
}

.big-font-size {
    font-size: 40px !important;
}

.left-aligned {
    text-align: left;
}

/*********************************
*              POPUP             *
**********************************/

.popup,
.popup-back {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.popup-back {
    background-color: rgba(82,79,85,0.5);
    z-index: 1;
}

.popup {
    display: flex;
}

.popup-content {
    position: absolute;
    top: 50vh;
    left: 50vw;
    transform: translate(-50%, -50%);
    z-index: 2;
    margin: auto;
    background-color: white;
    padding: 15px;
    border-radius: 10px;
    box-shadow: #524f55 0 0 7px 2px;
    text-align: center;
}

.popup-button-line {
    margin-top: 10px;
    display: flex;
    justify-content: center;
}

.popup-button-line button {
    width: 50px;
    padding: 5px;
    margin: 0 20px;
    border-radius: 10px;
    background-color: transparent;
    border: #4E3549 1px solid;
    cursor: pointer;
    -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    -moz-transition: all 0.5s;
    transition: all 0.5s;
}

.popup-button-line button:hover {
    background-color: #4e3549 !important;
    color: white !important;
}

.popup-header {
    text-align: center;
    position: relative;
    color: #4E3549;
    fill: #4E3549;
}

.popup-header .close-popup-btn {
    position: absolute;
    top: 0;
    right: 0;
    width: 15px;
    height: 15px;
}

.preloader {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-content: center;
    background-color: #4E3549;
    z-index: 9;
}

.preloader > .preloader-wrapper {
    margin: auto;
}

noscript {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
}

noscript .text-content {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    padding: 20px;
    background-color: tomato;
    color: white;
    z-index: 11;
}

noscript .background {
    width: 100%;
    height: 100%;
    background-color: #959595;
    opacity: 0.7;
}

