.content-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
    min-height: 500px;
}

h3 {
    color: #4E3549;
    margin: 20px 0;
}

form {
    padding: 10px;
    text-align: center;
    width: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

img {
    max-width: 200px;
    margin: 0 auto;
    display: block;
}

input {
    font-size: 30px !important;
    font-family: "Circe Bold", serif !important;
    color: #4e3549 !important;
    margin: 20px auto !important;
    max-width: 300px !important;
}

form > button {
    color: white;
    background-color: #4a9d61 !important;
    margin: 20px auto !important;
    align-self: end !important;
    padding: 20px 40px 18px;
    box-shadow: black 0 5px 10px -2px;
    text-transform: uppercase;
}

form > a {
    display: block;
    color: #4e3549;
    margin: 20px !important;
}

button:hover {
    background-color: #4158d0;
}

@media (min-width: 576px) {

}

@media (min-width: 768px) {
    .content-wrapper {
        flex-direction: row;
        justify-content: center;
    }

    .session-container {
        justify-content: space-between;
    }

    form {
        width: 50%;
        margin: auto;
    }

    img {
        max-width: 400px;
        margin: auto;
    }
}

@media (min-width: 992px) {
    form {
        width: 260px;
    }

}