img {
    display: block;
    height: 100px;
    padding: 2% 5px 0;
    margin: 75px auto 0;
}

.container {
    align-content: flex-start;
}

h1 {
    color: #4E3549;
    margin: 40px 0;
}

form {
    padding: 10px;
    text-align: center;
    width: 100%;
    margin: 0;
}

input {
    outline: none;
    border: none;
    text-align: center;
    font-size: 20px;
    color: #524f55;
    display: block;
    width: 100%;
    background: #e6e6e6;
    height: 50px;
    border-radius: 10px;
    padding: 0 10px 0 10px;
    margin-top: 10px;
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
}

input:hover {
    background-color: #d7d7d7;
}

input:focus {
    border: #4a9d61 2px solid;
}

button {
    width: 100%;
    padding: 10px 0;
    margin-top: 20px;
    color: white;
    background-color: #4a9d61;
    font-size: 20px;
    border-radius: 10px;
    cursor: pointer;
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
}

button:hover {
    background-color: #4158d0;
}

a {
    margin: 10px auto;
    display: block;
    font-size: 12px;
    color: #524f55;
    font-family: "Circe Light", serif;
}

/*.container {
    width: 100%;
    min-height: 100vh; !* 30 px for top and bottom margin to make gradient border visible *!
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 15px;
    margin: 0 auto;
}*/

.demo-anchor {
    font-family: "Circe Bold", serif;
    font-size: 1em;
}

@media (min-width: 576px) {

}

@media (min-width: 768px) {
    .session-container {
        justify-content: space-between;
    }

    form {
        width: 50%;
        margin: auto;
    }

    img {
        height: 200px;
        margin: auto;
    }
}

@media (min-width: 992px) {
    form {
        width: 260px;
    }

}