<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Title</title>
</head>
<body>
    <img th:fragment="smallImg"
         th:src="@{|/assets/image/riskMap/temporal_new_office/low_2000/low_2000_${#numbers.formatInteger(iter.count, 2)}.jpg|}" alt=""
         th:id="${iter.index / 4 + '' + iter.index % 4 + '-small-img'}"
         class="risk-small-img animated scale-on-hover">
    <img th:fragment="bigImg"
         th:each="i, iter : ${gameSession.game.getAnswerInput(decision)}"
         th:src="${iter.count == 2} ? @{/assets/image/riskMap/office/big_with_sectors/2.gif} : @{|/assets/image/riskMap/office/big_with_sectors/${iter.count}-01.jpg|}" alt=""
         th:id="${iter.index / 4 + '' + iter.index % 4 + '-large-img'}">
    <div th:fragment="howItScoresGrid" class="how-it-scores-grid">
        <p class="how-it-scores-your-answer">Ваш ответ</p>
        <div class="no-answer how-it-scores-legend"></div>
        <div class="no-level how-it-scores-legend"></div>
        <div class="low-level how-it-scores-legend"></div>
        <div class="mid-level how-it-scores-legend"></div>
        <div class="high-level how-it-scores-legend"></div>

        <div class="grid-empty-space"></div>

        <p class="how-it-scores-correct-answer">Правильный ответ</p>
        <div class="no-answer how-it-scores-legend"></div>
        <p th:each="score : ${gameSession.game.getPossibleScore(-1)}" th:text="${score}">0</p>
        <div class="no-level how-it-scores-legend"></div>
        <p th:each="score : ${gameSession.game.getPossibleScore(0)}" th:text="${score}">0</p>
        <div class="low-level how-it-scores-legend"></div>
        <p th:each="score : ${gameSession.game.getPossibleScore(1)}" th:text="${score}">0</p>
        <div class="mid-level how-it-scores-legend"></div>
        <p th:each="score : ${gameSession.game.getPossibleScore(2)}" th:text="${score}">0</p>
        <div class="high-level how-it-scores-legend"></div>
        <p th:each="score : ${gameSession.game.getPossibleScore(3)}" th:text="${score}">0</p>
    </div>
    <div th:fragment="riskIndicator(correctAnswerIcon)" class="risk-indicator hidden no-answer"
         th:classappend="${i} == 0 ? 'no-level' : (${i} == 1 ? 'low-level' : (${i} == 2 ? 'mid-level' : (${i} == 3 ? 'high-level':'')))">
        <svg th:if="${correctAnswerIcon} != null and ${correctAnswerIcon}"
             class="correct-answer-icon hidden" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
            <path d="M20.285 2l-11.285 11.567-5.286-5.011-3.714 3.716 9 8.728 15-15.285z"></path>
        </svg>
    </div>
    <div th:fragment="answerInput" class="answer-inputs">
        <div class="answer-input no-answer animated" th:classappend="${i} == -1 ? 'selected' : ''">
            <svg class="selected-svg animated" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                <path d="M20.285 2l-11.285 11.567-5.286-5.011-3.714 3.716 9 8.728 15-15.285z"></path>
            </svg>
        </div>
        <div class="answer-input no-level animated" th:classappend="${i} == 0 ? 'selected' : ''">
            <svg class="selected-svg animated" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                <path d="M20.285 2l-11.285 11.567-5.286-5.011-3.714 3.716 9 8.728 15-15.285z"></path>
            </svg>
        </div>
        <div class="answer-input low-level animated" th:classappend="${i} == 1 ? 'selected' : ''">
            <svg class="selected-svg animated" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                <path d="M20.285 2l-11.285 11.567-5.286-5.011-3.714 3.716 9 8.728 15-15.285z"></path>
            </svg>
        </div>
        <div class="answer-input mid-level animated" th:classappend="${i} == 2 ? 'selected' : ''">
            <svg class="selected-svg animated" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                <path d="M20.285 2l-11.285 11.567-5.286-5.011-3.714 3.716 9 8.728 15-15.285z"></path>
            </svg>
        </div>
        <div class="answer-input high-level animated" th:classappend="${i} == 3 ? 'selected' : ''">
            <svg class="selected-svg animated" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                <path d="M20.285 2l-11.285 11.567-5.286-5.011-3.714 3.716 9 8.728 15-15.285z"></path>
            </svg>
        </div>
    </div>
    <div th:fragment="correctAnswerCover" class="correct-answer-cover hidden"
         th:if="${ca} >= 0"
         th:classappend="${ca} == 0 ? 'no-level' : (${ca} == 1 ? 'low-level' : (${ca} == 2 ? 'mid-level' : 'high-level'))">
        <p class="sector-score-text">0</p>
    </div>
    <div th:fragment="correctAnswerPopupContent(ca, i, order)" th:remove="tag">
        <div class="correct-answer-wrapper">
            <p>Правильный ответ: </p>
            <div class="correct-answer-circle" th:classappend="${ca == -1} ? 'no-answer' : (${ca} == 0 ? 'no-level' : (${ca} == 1 ? 'low-level' : (${ca} == 2 ? 'mid-level' : 'high-level')))"></div>
        </div>
        <p>Ваш ответ: </p>
        <div class="possible-results" th:with="possibleScores = ${gameSession.game.getPossibleScore(ca)}">
            <div class="correct-answer-circle no-answer" th:classappend="${i == -1} ? 'selected'">
                <p th:text="${possibleScores[0]}"></p>
            </div>
            <div class="correct-answer-circle no-level" th:classappend="${i == 0} ? 'selected'">
                <p th:text="${possibleScores[1]}"></p>
            </div>
            <div class="correct-answer-circle low-level" th:classappend="${i == 1} ? 'selected'">
                <p th:text="${possibleScores[2]}"></p>
            </div>
            <div class="correct-answer-circle mid-level" th:classappend="${i == 2} ? 'selected'">
                <p th:text="${possibleScores[3]}"></p>
            </div>
            <div class="correct-answer-circle high-level" th:classappend="${i == 3} ? 'selected'">
                <p th:text="${possibleScores[4]}"></p>
            </div>
        </div>
        <p class="correct-answer-comment" th:text="${gameSession.game.getSectorComment(__${order}__)}"></p>
    </div>
</body>
</html>