<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:include="appFragments :: headContent" th:remove="tag"></div>
    <link rel="stylesheet" th:href="@{/assets/materialize/css/materialize.min.css}">
    <link rel="stylesheet" th:href="@{/assets/css/game/game.css}">
    <link rel="stylesheet" th:href="@{/assets/css/game/conference.css}">
    <link rel="stylesheet" th:href="@{/assets/css/game/riskMap.css}">
    <link rel="stylesheet" th:href="@{/assets/css/game/riskMap-office.css}">
    <link rel="stylesheet" th:href="@{/assets/css/game/projector.css}" th:if="${projectorMode}">
    <link rel="stylesheet" th:href="@{/assets/css/vendor/nouislider.min.css}" >
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.3.3/css/swiper.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <title>МОЗ | Конференция</title>
</head>
<body th:with="game = ${gameSession.game}">
    <noscript th:replace="appFragments :: noscript"></noscript>
    <div th:remove="${projectorMode} ? 'all' : 'tag'">
        <div th:replace="appFragments :: preloader"></div>
    </div>

    <p class="instant-message flow-text bold hidden"></p>

    <div class="page-content-wrapper">
        <div class="header">
            <img th:src="@{/assets/image/logo.png}" alt="logo">
            <div class="header-text-box">
                <p th:unless="${projectorMode}" th:text="'Участник ' + ${playerId}" class="middle-font-size light-font"></p>
            </div>
        </div>

        <div th:replace="game/conference/connectPhase :: content"></div>
        <div th:replace="game/conference/greetingPhase :: content"></div>
        <div th:replace="game/conference/placeholderPhase :: content"></div>
        <!--<div th:replace="game/conference/riskMapPhase :: content"></div>-->
        <!--<div th:replace="game/conference/riskMapResultsPhase :: content"></div>-->
        <div th:replace="game/conference/bestPracticesPhase :: content"></div>
        <div th:replace="game/conference/funPhase :: content"></div>
        <!--<div th:replace="game/conference/bestPracticesVotingPhase :: content"></div>-->
        <div th:replace="game/conference/selfAnalysisPhase :: content"></div>
        <div th:replace="game/conference/finalPhase :: content"></div>
    </div>


    <div class="hidden">
        <p id="game-id" th:text="${gameSession.game.id}"></p>
        <p id="player-id" th:text="${playerId}"></p>
    </div>

    <div class="logout-wrapper">
        <a class="logout-text modal-trigger"
           href="#logout-modal"
           th:unless="${projectorMode}">Выйти</a>
        <div class="modal" id="logout-modal">
            <div class="modal-content">
                <p class="light-font middle-font-size">Выйти из конференции?</p>
            </div>
            <div class="modal-fixed-footer">
                <form class="logout-form" th:action="@{/game/logout}" method="post">
                    <button type="submit" class="btn danger-btn">Да</button>
                    <button type="button" class="btn-flat modal-close">Нет</button>
                </form>
            </div>
        </div>
    </div>

    <script th:unless="${projectorMode}" th:src="@{/assets/js/player.conference-bundle.js}"></script>
</body>
</html>