<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <div th:fragment="header (commandName, round)" class="header">
        <img th:src="@{/assets/image/logo.png}" alt="logo">
        <div class="header-text-box">
            <p th:text="'Команда ' + ${commandName}" class="command-name"></p>
            <p id="round-name" th:text="'Раунд ' + ${round + 1}"></p>
        </div>
    </div>
    <div th:fragment="message (message, svgName)" class="message-wrapper">
        <h1 class="message" th:text="${message}"></h1>
        <img th:src="@{|/assets/image/${svgName}|}">
    </div>
    <div th:fragment="stats"></div>
    <div th:fragment="timer (heading)" class="timer-wrapper">
        <p class="message" th:text="${heading}"></p>
        <p class="timer">00:00</p>
    </div>

    <div th:fragment="stats (statsList)">
        <div class="bar-chart" >
            <div class="chart-y-axis">
                <p>Названия команд</p>
            </div>
            <div class="bar-chart-col animated" th:each="stat : ${statsList.statistics}">
                <p class="col-total-score" th:text="${stat.totalScore}"></p>
                <div class="cells">
                    <div th:each="statsCell : ${stat.roundScoreMap}" class="stats-cell animated">
                        <p class="cell-round-name hidden" th:text="${statsCell.key + 1}"></p>
                        <p th:text="${statsCell.value}" class="cell-value"></p>
                    </div>
                </div>
                <p th:text="${stat.commandName}" class="chart-command-name"></p>
            </div>
        </div>
        <div class="chart-legend">
            <div class="chart-legend-element">
                <div class="inline chart-legend-color" id="chart-legend-round-0-color"></div><p class="inline">- 1-ый раунд</p>
            </div>
            <div class="chart-legend-element">
                <div class="inline chart-legend-color" id="chart-legend-round-1-color"></div><p class="inline"> - 2-ой раунд</p>
            </div>
            <div class="chart-legend-element">
                <div class="inline chart-legend-color" id="chart-legend-round-2-color"></div><p class="inline"> - 3-ий раунд</p>
            </div>
            <div class="chart-legend-element">
                <div class="inline chart-legend-color" id="chart-legend-round-3-color"></div><p class="inline"> - 4-ый раунд</p>
            </div>
            <div class="chart-legend-element">
                <div class="inline chart-legend-color" id="chart-legend-round-4-color"></div><p class="inline"> - 5-ый раунд</p>
            </div>

        </div>
    </div>
</body>
</html>