<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:include="appFragments :: headContent" th:remove="tag"></div>
    <link rel="stylesheet" th:href="@{/assets/css/game/game.css}">
    <link rel="stylesheet" th:href="@{/assets/css/game/riskMap.css}">
    <link rel="stylesheet" th:href="@{/assets/css/game/riskMap-office.css}">
    <link rel="stylesheet" th:href="@{/assets/css/game/riskMapDemo.css}">
    <title>МОЗ | Карта рисков</title>
</head>
<body th:with = "game = ${gameSession.game}">
    <noscript th:replace="appFragments :: noscript"></noscript>
    <div class="container">
        <div th:replace="game/fragments :: header('Демо',0)"></div>
        <div id="phase-0" class="phase-container">
            <h2>Демо-игра "Карта рисков"</h2>
            <div class="rules-container">
                <p><b>Задача: </b>в каждом из секторов определить уровень риска получения сотрудниками травм.</p>
                <ul>
                    <li><span class="no-answer-text">Серый</span> - риска нет.</li>
                    <li><span class="no-level-text">Зеленый</span> - риск приемлем и с ним не надо работать.</li>
                    <li><span class="low-level-text">Желтый</span> - средний уровень риска.</li>
                    <li><span class="mid-level-text">Оранжевый</span> - высокий уровень риска.</li>
                    <li><span class="high-level-text">Красный</span> - высочайший уровень риска.</li>
                </ul>

                <p>У вас будет <b>2 минуты</b> на решение задачи.</p>
            </div>
            <p class="how-it-scores-btn">Как считаются баллы?</p>
            <div th:replace="game/riskMap :: howItScoresPopup"></div>
            <button class="next-phase-btn">Начать</button>
        </div>
        <div class="phase-container hidden" id="phase-1">
            <p class="alert-digit hidden">5</p>
            <h2 th:text="#{riskMap.phase1.message}"></h2>
            <h1 class="timer">03:00</h1>
            <p class="how-it-scores-btn">Как считаются баллы?</p>
            <div th:replace="game/riskMap :: howItScoresPopup"></div>
            <div th:replace="game/riskMap :: riskGrid"></div>
            <div class="popup-wrapper time-is-over-popup hidden">
                <div class="popup">
                    <div class="popup-back"></div>
                    <div class="popup-content">
                        <p>Время вышло.</p>
                        <p>Отправка ответов заблокирована.</p>
                        <p class="close-popup-btn">Ок</p>
                    </div>
                </div>
            </div>
            <button class="next-phase-btn">Проверить ответы</button>
        </div>

        <div class="phase-container hidden" id="phase-2">
            <h2>Вы заработали</h2>
            <h2><span id="score-text">0</span> баллов</h2>
            <p class="congratulation-text">Поздравляем вы вошли в 20% лучших игроков!</p>
            <div th:replace="game/riskMap :: answerRiskGrid"></div>
            <p id="show-correct-answers-btn">Показать правильные ответы</p>
            <button class="try-again-btn">Попробовать еще раз</button>
        </div>

        <div th:replace="game/fragments :: logout"></div>
    </div>

    <div class="heavy-images hidden">
        <img th:replace="game/riskMap :: bigImg">
    </div>
    <div th:replace="game/fragments :: vendorScripts"></div>
    <script th:src="@{/assets/js/popup.js}"></script>
    <script th:src="@{/assets/js/game/riskMapDemo.js}"></script>
</body>
</html>