<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:include="appFragments :: headContent" th:remove="tag"></div>
    <link rel="stylesheet" th:href="@{/assets/css/game/game.css}">
    <link rel="stylesheet" th:href="@{/assets/css/game/riskMap.css}">
    <link rel="stylesheet" th:href="@{/assets/css/game/riskMapDemo.css}">
    <title>МОЗ | Карта рисков</title>
</head>
<body>
    <div class="container">
        <div th:replace="game/fragments :: header('Демо',0)"></div>
        <div id="phase-0" class="phase-container">
            <h2>Демо-игра "Карта рисков"</h2>
            <div class="rules-container">
                <p><b>Задача: </b>в каждом из секторов определить уровень риска получения сотрудниками травм.</p>
                <ul>
                    <li><span class="no-answer-text">Серый</span> - риска нет.</li>
                    <li><span class="no-level-text">Зеленый</span> - риск приемлем и с ним не надо работать.</li>
                    <li><span class="low-level-text">Желтый</span> - средний уровень риска.</li>
                    <li><span class="mid-level-text">Оранжевый</span> - высокий уровень риска.</li>
                    <li><span class="high-level-text">Красный</span> - высочайший уровень риска.</li>
                </ul>

                <p>У вас будет <b>2 минуты</b> на решение задачи.</p>
            </div>
            <p class="how-it-scores-btn">Как считаются баллы?</p>
            <div th:replace="game/riskMap :: howItScoresPopup"></div>
            <button class="next-phase-btn">Начать</button>
        </div>
        <div class="phase-container hidden" id="phase-1">
            <p class="alert-digit hidden">5</p>
            <h2 th:text="#{riskMap.phase1.message}"></h2>
            <h1 class="timer">02:00</h1>
            <p class="how-it-scores-btn">Как считаются баллы?</p>
            <div th:replace="game/riskMap :: howItScoresPopup"></div>
            <div class="risk-grid">
                <div th:each="i, iter : ${game.getAnswerInput(decision)}"
                     th:class="'risk-img-cell risk-img-cell-' + ${iter.index}">
                    <div class="small-img-wrapper">
                        <img th:src="@{|/assets/image/riskMap/low_2000/low_2000_${#numbers.formatInteger(iter.count, 2)}.jpg|}" alt=""
                             th:id="${iter.index / 4 + '' + iter.index % 4 + '-small-img'}"
                             class="risk-small-img animated scale-on-hover">
                        <div class="risk-indicator hidden no-answer"
                             th:classappend="${i} == 0 ? 'no-level' : (${i} == 1 ? 'low-level' : (${i} == 2 ? 'mid-level' : (${i} == 3 ? 'high-level':'')))"></div>
                    </div>
                    <div class="popup-wrapper hidden">
                        <div class="answer-input-popup popup">
                            <div class="popup-back"></div>
                            <div class="popup-content">
                                <p th:text="#{riskMap.phase1.answerPopup}"></p>
                                <!--<svg class="close-popup-btn" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M24 20.188l-8.315-8.209 8.2-8.282-3.697-3.697-8.212 8.318-8.31-8.203-3.666 3.666 8.321 8.24-8.206 8.313 3.666 3.666 8.237-8.318 8.285 8.203z"></path></svg>-->
                                <div class="img-placeholder"></div>
                                <div class="answer-inputs">
                                    <div class="answer-input no-level animated" th:classappend="${i} == 0 ? 'selected' : ''">
                                        <svg class="selected-svg animated" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                                            <path d="M20.285 2l-11.285 11.567-5.286-5.011-3.714 3.716 9 8.728 15-15.285z"></path>
                                        </svg>
                                    </div>
                                    <div class="answer-input low-level animated" th:classappend="${i} == 1 ? 'selected' : ''">
                                        <svg class="selected-svg animated" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                                            <path d="M20.285 2l-11.285 11.567-5.286-5.011-3.714 3.716 9 8.728 15-15.285z"></path>
                                        </svg>
                                    </div>
                                    <div class="answer-input mid-level animated" th:classappend="${i} == 2 ? 'selected' : ''">
                                        <svg class="selected-svg animated" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                                            <path d="M20.285 2l-11.285 11.567-5.286-5.011-3.714 3.716 9 8.728 15-15.285z"></path>
                                        </svg>
                                    </div>
                                    <div class="answer-input high-level animated" th:classappend="${i} == 3 ? 'selected' : ''">
                                        <svg class="selected-svg animated" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                                            <path d="M20.285 2l-11.285 11.567-5.286-5.011-3.714 3.716 9 8.728 15-15.285z"></path>
                                        </svg>
                                    </div>
                                </div>
                                <p class="close-popup-btn animated" >ОК</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="popup-wrapper time-is-over-popup hidden">
                <div class="popup">
                    <div class="popup-back"></div>
                    <div class="popup-content">
                        <p>Время вышло.</p>
                        <p>Отправка ответов заблокирована.</p>
                        <p class="close-popup-btn">Ок</p>
                    </div>
                </div>
            </div>
            <button class="next-phase-btn">Проверить ответы</button>
        </div>

        <div class="phase-container hidden" id="phase-2">
            <h2>Вы заработали</h2>
            <h2><span id="score-text">0</span> баллов</h2>
            <p id="show-correct-answers-btn">Показать правильные ответы</p>
            <div class="risk-grid" th:with="correctAnswers = ${game.correctAnswers}">
                <div th:each="i, iter : ${game.getAnswerInput(decision)}"
                     th:class="'risk-img-cell risk-img-cell-' + ${iter.index}"
                     th:with="ca = ${correctAnswers[iter.index]}">
                    <div class="small-img-wrapper">
                        <img th:src="@{|/assets/image/riskMap/low_2000/low_2000_${#numbers.formatInteger(iter.count, 2)}.jpg|}" alt=""
                             th:id="${iter.index / 4 + '' + iter.index % 4 + '-small-img'}"
                             class="risk-small-img animated scale-on-hover">
                        <div class="risk-indicator hidden no-answer"
                             th:classappend="${'correct-answer-risk-indicator-' + iter.index} + ${i} == 0 ? 'no-level' : (${i} == 1 ? 'low-level' : (${i} == 2 ? 'mid-level' : (${i} == 3 ? 'high-level':'')))">
                            <svg class="correct-answer-icon hidden" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                                <path d="M20.285 2l-11.285 11.567-5.286-5.011-3.714 3.716 9 8.728 15-15.285z"></path>
                            </svg>
                        </div>
                        <div class="correct-answer-cover hidden"
                             th:if="${ca} >= 0"
                             th:classappend="${ca} == 0 ? 'no-level' : (${ca} == 1 ? 'low-level' : (${ca} == 2 ? 'mid-level' : 'high-level'))">
                            <p class="sector-score-text">0</p>
                        </div>
                    </div>
                    <div class="popup-wrapper hidden correct-answer-popup">
                        <div class="answer-input-popup popup">
                            <div class="popup-back"></div>
                            <div class="popup-content">
                                <div class="img-placeholder"></div>
                                <div class="correct-answer-wrapper">
                                    <p>Правильный ответ: </p>
                                    <div class="correct-answer-circle" th:classappend="${ca == -1} ? 'no-answer' : (${ca} == 0 ? 'no-level' : (${ca} == 1 ? 'low-level' : (${ca} == 2 ? 'mid-level' : 'high-level')))"></div>
                                </div>
                                <div class="possible-results" th:with="possibleScores = ${game.getPossibleScore(ca)}">
                                    <div class="correct-answer-circle no-answer" th:classappend="${i == -1} ? 'selected'">
                                        <p th:text="${possibleScores[0]}"></p>
                                    </div>
                                    <div class="correct-answer-circle no-level" th:classappend="${i == 0} ? 'selected'">
                                        <p th:text="${possibleScores[1]}"></p>
                                    </div>
                                    <div class="correct-answer-circle low-level" th:classappend="${i == 1} ? 'selected'">
                                        <p th:text="${possibleScores[2]}"></p>
                                    </div>
                                    <div class="correct-answer-circle mid-level" th:classappend="${i == 2} ? 'selected'">
                                        <p th:text="${possibleScores[3]}"></p>
                                    </div>
                                    <div class="correct-answer-circle high-level" th:classappend="${i == 3} ? 'selected'">
                                        <p th:text="${possibleScores[4]}"></p>
                                    </div>
                                </div>
                                <p class="correct-answer-comment" th:text="${game.getSectorComment(__${iter.index}__)}"></p>
                                <p class="close-popup-btn" >Ок</p>
                                <!--<svg class="close-popup-btn" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M24 20.188l-8.315-8.209 8.2-8.282-3.697-3.697-8.212 8.318-8.31-8.203-3.666 3.666 8.321 8.24-8.206 8.313 3.666 3.666 8.237-8.318 8.285 8.203z"></path></svg>-->
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <button class="try-again-btn">Попробовать еще раз</button>
        </div>

        <div th:replace="game/fragments :: logout"></div>
    </div>

    <div class="heavy-images hidden">
        <img th:each="i, iter : ${game.getAnswerInput(decision)}"
             th:src="@{'/assets/image/riskMap/big_with_sectors/' + ${(__${iter.count == 2}__ ? 'animated.gif' : __${iter.count}__ + '.jpg')}}" alt=""
             th:id="${iter.index / 4 + '' + iter.index % 4 + '-large-img'}">
    </div>
    <div th:replace="game/fragments :: vendorScripts"></div>
    <script th:src="@{/assets/js/popup.js}"></script>
    <script th:src="@{/assets/js/game/riskMapDemo.js}"></script>
</body>
</html>