<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:include="appFragments :: headContent" th:remove="tag"></div>
    <link rel="stylesheet" th:href="@{/assets/css/game/game.css}">
    <link rel="stylesheet" th:href="@{/assets/css/game/riskMap.css}">
    <link rel="stylesheet" th:href="@{|/assets/css/game/riskMap-${gameSession.game.type.name}.css|}">
    <link rel="stylesheet" th:href="@{/assets/css/game/projector.css}" th:if="${projectorMode}">
    <title>МОЗ | Карта рисков</title>
</head>
<body class="risk-map-body" th:with="mapType = ${gameSession.game.type.name}, mapLayoutPage = ${'game/riskMapFragments/riskMap-' + mapType}">
    <noscript th:replace="appFragments :: noscript"></noscript>
    <div th:replace="appFragments :: preloader"></div>
    <div class="container">
        <div th:replace="game/fragments :: header(${commandName},${gameSession.currentRoundIndex})"></div>
        <div th:replace="game/fragments :: introPhase"></div>
        <div class="phase-container hidden" id="phase-1">
            <div class="projector-wrapper" th:if="${projectorMode}">
                <h1 class="timer">00:00</h1>
                <div th:replace="this :: riskGrid"></div>
            </div>
            <div th:remove="${projectorMode} ? 'all' : 'tag'">
                <h2 th:text="#{riskMap.phase1.message}" th:unless="${projectorMode}"></h2>
                <h1 class="timer">00:00</h1>
                <p class="how-it-scores-btn">Как считаются баллы?</p>
                <div class="popup-wrapper how-it-scores-popup hidden" th:fragment="howItScoresPopup">
                    <div class="popup">
                        <div class="popup-back"></div>
                        <div class="popup-content">
                            <div th:replace="${mapLayoutPage} :: howItScoresGrid"></div>
                        </div>
                    </div>
                </div>
                <div class="risk-grid" th:fragment="riskGrid">
                    <div th:each="i, iter : ${gameSession.game.getAnswerInput(decision)}"
                         th:class="'risk-img-cell risk-img-cell-' + ${iter.index}">
                        <div class="small-img-wrapper">
                            <img th:replace="${mapLayoutPage} :: smallImg">
                            <div th:replace="${mapLayoutPage} :: riskIndicator(false)"></div>
                        </div>
                        <div class="popup-wrapper hidden">
                            <div class="answer-input-popup popup">
                                <div class="popup-back"></div>
                                <div class="popup-content">
                                    <p th:text="#{riskMap.phase1.answerPopup}"></p>
                                    <div class="img-placeholder"></div>
                                    <div th:replace="${mapLayoutPage} :: answerInput"></div>
                                    <p class="close-popup-btn animated" >ОК</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <button th:replace="game/fragments :: sendResponsesBtn"></button>
                <div th:replace="game/fragments :: flash('Ответы отправлены')"></div>
            </div>
        </div>

        <div class="phase-container hidden" id="phase-2">
            <h2 th:unless="${projectorMode}">Вы заработали<br><span id="score-text">0</span> баллов</h2>
            <p class="congratulation-text">Поздравляем вы вошли в 20% лучших игроков!</p>
            <div th:fragment="answerRiskGrid" class="risk-grid" th:with="correctAnswers = ${gameSession.game.correctAnswers}">
                <div th:each="i, iter : ${gameSession.game.getAnswerInput(decision)}"
                     th:class="'risk-img-cell risk-img-cell-' + ${iter.index}"
                     th:with="ca = ${correctAnswers[iter.index]}">
                    <div class="small-img-wrapper">
                        <img th:replace="${mapLayoutPage} :: smallImg">
                        <div th:replace="${mapLayoutPage} :: riskIndicator(true)"></div>
                        <div th:replace="${mapLayoutPage} :: correctAnswerCover"></div>
                    </div>
                    <div class="popup-wrapper hidden correct-answer-popup">
                        <div class="popup">
                            <div class="popup-back"></div>
                            <div class="popup-content">
                                <div class="img-placeholder"></div>
                                <div th:replace="${mapLayoutPage} :: correctAnswerPopupContent(${ca}, ${i})"></div>
                                <p class="correct-answer-comment" th:text="${gameSession.game.getSectorComment(__${iter.index}__)}"></p>
                                <p class="close-popup-btn" >Ок</p>
                                <!--<svg class="close-popup-btn" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M24 20.188l-8.315-8.209 8.2-8.282-3.697-3.697-8.212 8.318-8.31-8.203-3.666 3.666 8.321 8.24-8.206 8.313 3.666 3.666 8.237-8.318 8.285 8.203z"></path></svg>-->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <p id="show-correct-answers-btn">Показать правильные ответы</p>
        </div>

        <div th:replace="game/fragments :: logout"></div>
    </div>

    <div class="heavy-images hidden">
        <img th:replace="${mapLayoutPage} :: bigImg">
    </div>
    <div class="correct-answer-store hidden">
        <p th:each="ca : ${gameSession.game.type.correctAnswers}" th:text="${ca}"></p>
    </div>
    <div th:replace="game/fragments :: gameSettings(${gameSession})"></div>
    <div th:replace="game/fragments :: vendorScripts"></div>
    <script th:src="@{/assets/js/popup.js}"></script>
    <script th:src="@{/assets/js/game/gameController.js}"></script>
    <script th:src="@{/assets/js/game/riskMap.js}"></script>
    <script th:src="@{|/assets/js/game/riskMap-${mapType}.js|}"></script>
</body>
</html>