<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>МОЗ | Панель модератора</title>
    <link rel="stylesheet" th:href="@{assets/css/app.css}">
    <link rel="stylesheet" th:href="@{assets/css/administration/administration.css}">
    <link rel="stylesheet" th:href="@{assets/css/administration/index.css}">
</head>
<body>
    <div th:replace="administration/fragments :: header"></div>
    <div class="new-session-wrapper">
        <button id="new-session-btn">Создать новую игру</button>
        <div class="new-session-popup" th:attrappend="style=${showPopup}?'display: block':'display: none'" >
            <div class="new-session-popup-background"></div>
            <div class="new-session-popup-content">
                <div class="popup-header">
                    <h1>Создать новую игру</h1>
                    <button id="close-popup-button">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M24 20.188l-8.315-8.209 8.2-8.282-3.697-3.697-8.212 8.318-8.31-8.203-3.666 3.666 8.321 8.24-8.206 8.313 3.666 3.666 8.237-8.318 8.285 8.203z"></path></svg>
                    </button>
                </div>
                <div class="popup-form-wrapper">
                    <form th:action="@{/moderator}" th:object="${gameSessionDto}" method="post">
                        <div class="flash" th:if="${#fields.hasErrors('strId')}" th:errors="*{strId}"></div>
                        <label for="popup-strId-input" class="popup-form-col1">Код игры</label>
                        <input id="popup-strId-input" class="popup-form-col2" type="text" th:field="*{strId}">
                        <label for="popup-date-input" class="popup-form-col1">Дата проведения</label>
                        <input id="popup-date-input" class="popup-form-col2" type="date" th:field="*{activeDateStr}">
                        <label for="popup-gameType-input" class="popup-form-col1">Тип игры</label>
                        <select id="popup-gameType-input" class="popup-form-col2" th:field="*{gameType}">
                            <option th:each="gameType : *{gameTypes}" th:value="${gameType}" th:text="${gameType}"></option>
                        </select>
                        <label for="popup-commandsNumber-input" class="popup-form-col1">Количество комманд</label>
                        <input id="popup-commandsNumber-input" class="popup-form-col2" type="number" th:field="*{numberOfCommands}">
                        <button class="popup-submit-btn" type="submit">Создать</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="session-container">
        <div class="session-panel">
            <div th:replace="administration/fragments :: flash"></div>
            <div class="tab-btn-pane">
                <label class="tab-btn" id="active-sessions-tab-btn">
                    <input type="radio" name="session-type" checked="checked">
                    Активные
                </label>
                <label class="tab-btn" id="past-sessions-tab-btn">
                    <input type="radio" name="session-type">
                    Прошедшие
                </label>
            </div>
            <table id="active-sessions-table">
                <tr th:each="gameSession : ${activeSessions}" >
                    <td class="column1" >
                        <a th:href="@{|/moderator/gameSession/${gameSession.id}|}">
                            <p th:text="${gameSession.strId}"></p>
                        </a>
                    </td>
                    <td class="column2">
                        <a th:href="@{|/moderator/gameSession/${gameSession.id}|}">
                            <p th:text="${gameSession.activeDate}"></p>
                        </a>
                    </td>
                    <td class="column3" align="center" >
                        <a th:href="@{|/moderator/gameSession/${gameSession.id}|}">
                            <button>
                                <svg class="edit-icon" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M18.363 8.464l1.433 1.431-12.67 12.669-7.125 1.436 1.439-7.127 12.665-12.668 1.431 1.431-12.255 12.224-.726 3.584 3.584-.723 12.224-12.257zm-.056-8.464l-2.815 2.817 5.691 5.692 2.817-2.821-5.693-5.688zm-12.318 18.718l11.313-11.316-.705-.707-11.313 11.314.705.709z"></path></svg>
                            </button>
                        </a>
                    </td>
                </tr>
                <!--<img class="icon" th:src="@{assets/image/editIcon.svg}" alt="edit icon">-->
            </table>
            <table id="past-sessions-table">
                <tr th:each="gameSession : ${pastSessions}">
                    <td class="column1" th:text="${gameSession.strId}"></td>
                    <td class="column2" th:text="${gameSession.activeDate}"></td>
                    <td class="column3" align="center" >
                        <button>
                            <svg class="edit-icon" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M18.363 8.464l1.433 1.431-12.67 12.669-7.125 1.436 1.439-7.127 12.665-12.668 1.431 1.431-12.255 12.224-.726 3.584 3.584-.723 12.224-12.257zm-.056-8.464l-2.815 2.817 5.691 5.692 2.817-2.821-5.693-5.688zm-12.318 18.718l11.313-11.316-.705-.707-11.313 11.314.705.709z"></path></svg>
                        </button>
                    </td>
                </tr>
                <!--<img class="icon" th:src="@{assets/image/editIcon.svg}" alt="edit icon">-->
            </table>
        </div>
    </div>

    <script th:src="@{/assets/js/jquery-3.3.1.min.js}"></script>
    <script th:src="@{/assets/js/adminIndex.js}"></script>
</body>
</html>