<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:include="appFragments :: headContent" th:remove="tag"></div>
    <link rel="stylesheet" th:href="@{assets/css/administration/administration.css}">
    <link rel="stylesheet" th:href="@{assets/css/administration/index.css}">
    <title>МОЗ | Панель модератора</title>
</head>
<body>
    <div th:replace="appFragments :: preloader"></div>
    <div th:replace="administration/fragments :: header"></div>
    <div class="new-session-wrapper">
        <button id="new-session-btn">Создать новую сессию</button>
        <div class="popup-wrapper" th:classappend="${showPopup == null or !showPopup ? 'hidden' : ''}">
            <div class="popup">
                <div class="popup-back"></div>
                <div class="popup-content">
                    <div th:replace="administration/fragments :: popupHeader('Создать новую сессию')"></div>
                    <div class="popup-form-wrapper">
                        <form th:action="@{/moderator}"
                              th:object="${gameSessionDto}" method="post">
                            <div th:replace="administration/fragments :: gameSessionFormContent(true)"></div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="session-container">
        <div class="session-panel">
            <div th:replace="administration/fragments :: flash"></div>
            <div class="tab-btn-pane">
                <p class="tab-btn chosen" id="active-sessions-tab-btn">Активные</p>
                <p class="tab-btn" id="past-sessions-tab-btn">Прошедшие</p>
            </div>
            <table id="active-sessions-table" th:with="changeDto = ${changeGameSessionDto}">
                <tr th:each="session : ${activeSessions}" >
                    <td class="column1" >
                        <a th:href="@{|/moderator/gameSession/${session.id}|}">
                            <p th:text="${session.strId}"></p>
                        </a>
                    </td>
                    <td class="column2">
                        <a th:href="@{|/moderator/gameSession/${session.id}|}">
                            <p th:text="${session.activeDate}"></p>
                        </a>
                    </td>
                    <td class="column3" align="center">
                        <svg class="edit-icon edit-session-btn" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M18.363 8.464l1.433 1.431-12.67 12.669-7.125 1.436 1.439-7.127 12.665-12.668 1.431 1.431-12.255 12.224-.726 3.584 3.584-.723 12.224-12.257zm-.056-8.464l-2.815 2.817 5.691 5.692 2.817-2.821-5.693-5.688zm-12.318 18.718l11.313-11.316-.705-.707-11.313 11.314.705.709z"></path></svg>
                        <div class="edit-menu-wrapper">
                            <div class="edit-menu hidden">
                                <a th:href="@{|/moderator/gameSession/${session.id}|}">
                                    <p>Открыть</p>
                                </a>
                                <p class="edit-menu-item">Редактировать</p>
                                <p class="delete-menu-item">Удалить</p>
                            </div>
                        </div>

                        <div class="popup-wrapper delete-popup hidden">
                            <div class="popup">
                                <div class="popup-back"></div>
                                <div class="popup-content">
                                    <div th:replace="administration/fragments :: popupHeader('Удалить игру?')"></div>
                                    <div class="popup-button-line">
                                        <form th:action="@{/moderator/deleteGameSession}" method="post">
                                            <input type="hidden" name="gameSessionId" th:value="${session.id}">
                                            <button type="submit" class="delete-session-popup-btn">Да</button>
                                        </form>
                                        <button class="close-popup-btn">Нет</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="popup-wrapper edit-popup" th:classappend="(${showChangePopup == null} or ${!showChangePopup} or ${changeDto.oldStrId != session.strId}) ? 'hidden':''">
                            <div class="popup">
                                <div class="popup-back"></div>
                                <div class="popup-content">
                                    <div th:replace="administration/fragments :: popupHeader('Изменить игру')"></div>
                                    <form th:action="@{/moderator/changeGameSession}"
                                          th:object="${__${'dto_' + session.strId}__}" method="post">
                                        <div th:replace="administration/fragments :: gameSessionFormContent(false)"></div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </td>
                </tr>
                <!--<img class="icon" th:src="@{assets/image/editIcon.svg}" alt="edit icon">-->
            </table>
            <table id="past-sessions-table" class="hidden">
                <tr th:each="session : ${pastSessions}">
                    <td class="column1" >
                        <a th:href="@{|/moderator/gameSession/${session.id}|}">
                            <p th:text="${session.strId}"></p>
                        </a>
                    </td>
                    <td class="column2">
                        <a th:href="@{|/moderator/gameSession/${session.id}|}">
                            <p th:text="${session.activeDate}"></p>
                        </a>
                    </td>
                    <td class="column3" align="center" >
                        <svg class="delete-past-session-icon" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M9 19c0 .552-.448 1-1 1s-1-.448-1-1v-10c0-.552.448-1 1-1s1 .448 1 1v10zm4 0c0 .552-.448 1-1 1s-1-.448-1-1v-10c0-.552.448-1 1-1s1 .448 1 1v10zm4 0c0 .552-.448 1-1 1s-1-.448-1-1v-10c0-.552.448-1 1-1s1 .448 1 1v10zm5-17v2h-20v-2h5.711c.9 0 1.6a31-1.099 1.631-2h5.315c0 .901.73 2 1.631 2h5.712zm-3 4v16h-14v-16h-2v18h18v-18h-2z"></path></svg>
                        <form th:action="@{/moderator/deleteGameSession}" method="post" class="hidden">
                            <input type="hidden" name="gameSessionId" th:value="${session.id}">
                        </form>
                    </td>
                </tr>
                <!--<img class="icon" th:src="@{assets/image/editIcon.svg}" alt="edit icon">-->
            </table>
        </div>
    </div>

    <script src="/webjars/jquery/jquery.js"></script>
    <script th:src="@{/assets/js/popup.js}"></script>
    <script th:src="@{/assets/js/administration/adminIndex.js}"></script>
</body>
</html>