h2 {
    color: #4E3549;
}

.players-table {
    width: 100%;
    border-collapse: collapse;
}

.players-table th {
    cursor: pointer;
}

.players-table .connected-row {
    background-color: #dfcadb;
    color: #4E3549;
    margin-bottom: 5px;
    border-bottom: white solid 1px;
}

.players-table tr:nth-child(1) td:first-child {
    border-radius: 10px 0 0 0;
}

.players-table tr:nth-child(1) td:last-child {
    border-radius: 0 10px 0 0;
}

.players-table tr:last-child td:last-child {
    border-radius: 0 0 10px 0;
}

.players-table tr:last-child td:first-child {
    border-radius: 0 0 0 10px;
}

.received-answers {
    background-color: #729d76 !important;
    color: white !important;
    fill: white !important;
    border-bottom: white solid 1px;
}

/*.logout-td {
    display: flex;
    align-content: center;
}*/

.connected-row .player-logout-svg {
    display: block;
    width: 15px;
    max-height: 15px;
    margin: auto 10px;
    cursor: pointer;
}

.players-table .player-logout-svg:hover {
    fill: #4e3549;
}

[id^=previous-phase-popup-] {
    bottom: 70px;
}

/*********************************
*          MEDIA QUERIES         *
**********************************/

@media (min-width: 769px) {

}