.phase {
    text-align: left;
}

.phase-name {
    padding: 0 10px;
}

.role-strategy-wrapper {
    display: flex;
}

.form-roles-grid input {
    border-bottom: #4e3549 1px solid;
}

.ready {
    background-color: #4a9d61 !important;
    color: white !important;
}

