.phase {
    text-align: left;
}

.phase-name {
    padding: 0 10px;
}

.role-strategy-wrapper {
    display: flex;
}

.form-roles-grid input {
    border-bottom: #4e3549 1px solid;
}

.fork-phase-container {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    padding: 20px;
    border-top: #4e3549 solid 0.5px;
    border-bottom: #4e3549 solid 0.5px;
}

.fork-phase-container .phase {
    margin: 0;
    text-align: center;
}

