<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>МОЗ Бриф</title>
    <link rel="stylesheet" th:href="@{/assets/css/app.css}">
    <link rel="stylesheet" th:href="@{/assets/css/game/game.css}">
    <link rel="stylesheet" th:href="@{/assets/css/game/brief.css}">
</head>
<body>
    <div class="container">
        <div th:replace="game/fragments :: header (${commandName})"></div>
        <div class="main-content">
            <div th:replace="game/fragments :: message (${message},${svgName})"></div>
            <div th:replace="game/fragments :: timer('Объяснение правил')"></div>
        </div>
    </div>

    <script th:src="@{/assets/js/jquery-3.3.1.min.js}"></script>
    <script src="/webjars/sockjs-client/sockjs.min.js"></script>
    <script src="/webjars/stomp-websocket/stomp.min.js"></script>
    <script th:src="@{/assets/js/game/brief.js}"></script>
</body>
</html>