<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:include="appFragments :: headContent" th:remove="tag"></div>
    <link rel="stylesheet" th:href="@{/assets/css/error.css}">
    <title>Error</title>
</head>
<body>
    <div class="container">
        <div class="error-wrapper" th:if="${statusCode} == 404">
            <p>Ошибка 404</p>
            <p>Не удалось найти запрашиваемый ресурс</p>
        </div>

        <div class="error-wrapper" th:unless="${statusCode}">
            <p>Что-то пошло не так!</p>
            <p>Попробуйте обновить страницу или вернитесь на <a th:href="@{/}">главную.</a></p>
            <p>Если ошибка повторяется, попросите помощи у ведущего.</p>
        </div>
    </div>
</body>
</html>