<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:include="appFragments :: headContent" th:remove="tag"></div>
    <link rel="stylesheet" th:href="@{/assets/css/login.css}">
    <title>МОЗ | Игратор</title>
</head>
<body>
    <div class="container">
        <img th:src="@{/assets/image/logo.png}" alt="logo" >
        <form th:action="@{/}" th:object="${player}" method="post">
            <h1>Цифровой тренер</h1>
            <input type="text" placeholder="Код игры" autocomplete="off" th:field="*{gameSession.strId}">
            <div class="error-message" th:if="${#fields.hasErrors('gameSession')}" th:errors="*{gameSession}"></div>
            <input type="text" placeholder="Номер команды" autocomplete="off" th:field="*{commandName}">
            <div class="error-message" th:if="${#fields.hasErrors('commandName')}" th:errors="*{commandName}"></div>
            <div class="error-message" th:if="${#fields.hasErrors('username')}" th:errors="*{username}"></div>
            <button type="submit">Войти</button>
            <!--<a th:href="@{/demo}" class="demo-anchor">Демо</a>-->
            <a th:href="@{/login/admin}">Войти как администратор</a>
        </form>
    </div>
</body>
</html>