<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:include="appFragments :: headContent" th:remove="tag"></div>
    <link rel="stylesheet" th:href="@{/assets/css/login.css}">
    <title>МОЗ | Игратор</title>
</head>
<body>
    <div class="container">
        <img th:src="@{/assets/image/logo.png}" alt="logo" >
        <form th:action="@{/login}" method="post">
            <h1>Игратор</h1>
            <p class="flash" th:if="${flash} != null" th:text="${flash}"></p>
            <input type="text" placeholder="Код игры" autocomplete="off" th:value="${gameSessionStrId}" name="gameSessionStrId">
            <button type="submit">Войти</button>
            <a th:href="@{/login/admin}">Войти как администратор</a>
        </form>
    </div>
</body>
</html>