<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:include="appFragments :: headContent" th:remove="tag"></div>
    <link rel="stylesheet" th:href="@{/assets/materialize/css/materialize.css}">
    <link rel="stylesheet" th:href="@{/assets/css/login.css}">
    <title>МОЗ | Игратор</title>
</head>
<body>
    <div class="content-wrapper">
        <img  th:src="@{/assets/image/logo.png}" alt="logo" >
        <form th:action="@{/login}" th:object="${playerLoginDto}" method="post">
            <h3>Цифровой тренер</h3>
            <p class="flash error-message" th:if="${codeError}" >Неправвильный код сессии</p>
            <input class="center-align" type="text" placeholder="Код сессии" autocomplete="off" th:field="*{gameSessionStrId}">
            <button class="bold middle-font-size" type="submit">Войти</button>
            <a class="center-align underlined" th:href="@{/login/admin}">Войти как администратор</a>
        </form>
    </div>
</body>
</html>