<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:include="appFragments :: headContent" th:remove="tag"></div>
    <link rel="stylesheet" th:href="@{/assets/css/login.css}">
    <title>МОЗ | Вход игрока</title>
</head>
<body>
    <div class="container">
        <img th:src="@{/assets/image/logo.png}" alt="logo" >
        <form th:action="@{/playerLogin}" th:object="${playerLoginDto}" method="post">
            <input type="hidden" th:field="*{gameSessionStrId}">
            <div th:each="inputArr : *{authenticationType.inputs}" th:remove="tag">
                <p th:if="${#fields.hasErrors('__${inputArr[0]}__')}"
                   class="flash error-message"
                   th:errors="*{__${inputArr[0]}__}"></p>
                <input th:type="${inputArr[2]}" th:placeholder="${inputArr[1]}" autocomplete="off" th:field="*{__${inputArr[0]}__}">
            </div>
            <button type="submit">Войти</button>
            <a th:href="@{/}">На главную</a>
        </form>
    </div>
</body>
</html>