<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:include="appFragments :: headContent" th:remove="tag"></div>
    <link rel="stylesheet" th:href="@{/assets/css/administration/administration.css}">
    <link rel="stylesheet" th:href="@{/assets/css/administration/moderator/brief.css}">
    <title>Бриф | Панель модератора</title>
</head>
<body>
    <div th:replace="appFragments :: preloader"></div>
    <div th:replace="administration/fragments :: game-session-header"></div>
    <div class="main-content">
        <div th:replace="administration/fragments :: round-count-bar"></div>
        <div class="round-nav-and-commands">
            <h2 class="bold">Фазы раунда</h2>
            <div th:replace="administration/fragments :: roundNav(${gameSession.game.getPhases(0)}, 0)"></div>
            <h2 class="bold">Команды</h2>
            <table class="players-table hidden">
                <thead>
                    <tr>
                        <th>Место</th>
                        <th>Название</th>
                        <th>Ответ</th>
                        <th>Результат</th>
                        <th>Накопленный результат</th>
                        <th>Подключение</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="player, iter : ${gameSession.players}"
                        th:with="roundNumber = ${gameSession.currentRoundIndex}, decision=${player.getDecision(roundNumber)}"
                        class="animated"
                        th:classappend="|${decision.answer != null ? 'received-answers' : ''} ${loggedInPlayers.contains(player.username)?'connected-row':''}|"
                        th:id="'player-row-' + ${player.username}">
                        <td class="place-td"></td>
                        <td th:text="${player.commandName}"></td>
                        <td class="answer-td"
                            th:text="${decision.answer}">Response</td>
                        <td class="current-score-td"
                            th:text="${player.getScoreForRound(roundNumber)}">CurrentScore</td>
                        <td class="total-score-td"
                            th:text="${player.totalScore}">TotalScore</td>
                        <td th:text="${loggedInPlayers.contains(player.username)?'Connected':'Disconnected'}" class="connection-td"></td>
                        <td class="logout-td">
                            <svg th:id="${player.username} + '-logout-table'" class="player-logout-svg animated hidden" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M14 12h-4v-12h4v12zm4.213-10.246l-1.213 1.599c2.984 1.732 5 4.955 5 8.647 0 5.514-4.486 10-10 10s-10-4.486-10-10c0-3.692 2.016-6.915 5-8.647l-1.213-1.599c-3.465 2.103-5.787 5.897-5.787 10.246 0 6.627 5.373 12 12 12s12-5.373 12-12c0-4.349-2.322-8.143-5.787-10.246z"></path></svg>
                        </td>
                        <!--<td>ResponseTime</td>-->
                    </tr>
                </tbody>
            </table>
            <div th:replace="administration/fragments :: players"></div>
        </div>
    </div>

    <div th:replace="administration/fragments :: vendorScripts"></div>
    <script th:src="@{/assets/js/popup.js}"></script>
    <script th:src="@{/assets/js/administration/moderator/timer.js}"></script>
    <script th:src="@{/assets/js/administration/moderator/gameSessionController.js}"></script>
    <script th:src="@{/assets/js/administration/moderator/brief.js}"></script>
</body>
</html>