<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Бриф | Панель модератора</title>
    <link rel="stylesheet" th:href="@{/assets/css/app.css}">
    <link rel="stylesheet" th:href="@{/assets/css/administration/administration.css}">
    <link rel="stylesheet" th:href="@{/assets/css/administration/moderator/brief.css}">
</head>
<body>
    <div th:replace="administration/fragments :: game-session-header"></div>
    <div class="main-content">
        <div th:replace="administration/fragments :: round-count-bar"></div>
        <div class="round-nav-and-commands">
            <h2 class="bold">Фазы раунда</h2>
            <div class="round-nav">
                <div th:each="phase,iter : ${gameSession.game.phases}">
                    <div class="phase animated" th:with="currentPhase = ${gameSession.currentPhaseNumber}"
                         th:classappend="(${iter.index} < ${currentPhase}? 'played':(${iter.index} == ${currentPhase}? 'active':(${iter.index} == ${currentPhase + 1}? 'next')))"
                         th:id="'phase-' + ${iter.index}">
                        <p class="phase-name" th:text="${phase.name}"></p>
                        <p class="timer" th:if="${phase.hasTimer}" th:text="(${iter.index} == ${currentPhase} and ${gameSession.timerIsRunning()}) ? ${gameSession.getRemainingTimerTime()} : ${phase.getStrTimerDuration()}"></p>
                        <button class="add-30-sec-btn hidden" th:if="${phase.hasTimer}">+ 30с</button>

                        <p class="timer-original-value hidden" th:if="${phase.hasTimer}" th:text="${phase.getStrTimerDuration()}"></p>
                        <p class="timer-is-running hidden" th:if="${phase.hasTimer} and ${currentPhase} == ${iter.index} and ${gameSession.timerIsRunning()}"></p>
                        <p class="timer-finished hidden" th:if="${phase.hasTimer} and ${currentPhase} == ${iter.index} and ${!gameSession.timerIsRunning()}"></p>
                    </div>
                </div>
            </div>
            <h2 class="bold">Команды</h2>
            <table class="players-table hidden">
                <thead>
                    <tr>
                        <th>Место</th>
                        <th>Название</th>
                        <th>Ответ</th>
                        <th>Результат</th>
                        <th>Накопленный результат</th>
                        <th>Подключение</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="player, iter : ${gameSession.players}"
                        th:with="roundNumber = ${gameSession.currentRoundIndex}, decision=${player.getDecision(roundNumber)}"
                        class="animated"
                        th:classappend="${decision.answer} != null ? 'connected-row received-answers' : (${player.loggedIn}? 'connected-row')"
                        th:id="'player-row-' + ${player.username}">
                        <td class="place-td"
                            th:text="${iter.count}">Place</td>
                        <td th:text="${player.commandName}"></td>
                        <td class="answer-td"
                            th:text="${decision.answer}">Response</td>
                        <td class="current-score-td"
                            th:text="${player.getScoreForRound(roundNumber)}">CurrentScore</td>
                        <td class="total-score-td"
                            th:text="${player.totalScore}">TotalScore</td>
                        <td th:text="${player.loggedIn} ? 'Connected' : 'Disconnected'" class="connection-td"></td>
                        <td class="logout-td">
                            <svg th:id="${player.username} + '-logout'" class="player-logout-svg animated hidden" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M14 12h-4v-12h4v12zm4.213-10.246l-1.213 1.599c2.984 1.732 5 4.955 5 8.647 0 5.514-4.486 10-10 10s-10-4.486-10-10c0-3.692 2.016-6.915 5-8.647l-1.213-1.599c-3.465 2.103-5.787 5.897-5.787 10.246 0 6.627 5.373 12 12 12s12-5.373 12-12c0-4.349-2.322-8.143-5.787-10.246z"></path></svg>
                        </td>
                        <!--<td>ResponseTime</td>-->
                    </tr>
                </tbody>
            </table>
            <div class="players">
                <div class="player v-centered animated" th:each="player : ${gameSession.players}" th:id="${player.username}" th:classappend="${player.loggedIn?'connected':''}">
                    <div class="player-info">
                        <p th:id="${player.username} + '-command-name'" class="command-name bold" th:text="${player.commandName}"></p>
                        <svg th:id="${player.username} + '-logout'" class="player-logout-svg" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M14 12h-4v-12h4v12zm4.213-10.246l-1.213 1.599c2.984 1.732 5 4.955 5 8.647 0 5.514-4.486 10-10 10s-10-4.486-10-10c0-3.692 2.016-6.915 5-8.647l-1.213-1.599c-3.465 2.103-5.787 5.897-5.787 10.246 0 6.627 5.373 12 12 12s12-5.373 12-12c0-4.349-2.322-8.143-5.787-10.246z"></path></svg>
                        <!--<p class="player-answer" th:if="${player.currentAnswer != null}" th:text="${player.currentAnswer}"></p>-->
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script th:src="@{/assets/js/jquery-3.3.1.min.js}"></script>
    <script th:src="@{/assets/js/jquery.color-2.1.2.js}"></script>
    <script th:src="@{/webjars/sockjs-client/sockjs.min.js}"></script>
    <script th:src="@{/webjars/stomp-websocket/stomp.min.js}"></script>
    <script th:src="@{/assets/js/jquery.tablesorter.js}"></script>
    <script th:src="@{/assets/js/administration/moderator/fragments.js}"></script>
    <script th:src="@{/assets/js/administration/moderator/brief.js}"></script>
</body>
</html>