<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:include="appFragments :: headContent" th:remove="tag"></div>
    <link rel="stylesheet" th:href="@{/assets/css/administration/administration.css}">
    <link rel="stylesheet" th:href="@{/assets/css/administration/moderator/riskMap.css}">
    <title>Карта рисков | Панель модератора</title>
</head>
<body th:with="riskMap = ${gameSession.game}">
    <div th:replace="appFragments :: preloader"></div>
    <div th:replace="administration/fragments :: game-session-header"></div>
    <div class="main-content">
        <div class="round-nav-and-commands">
            <h2 class="bold">Фазы раунда</h2>
            <div th:replace="administration/fragments :: roundNav(${riskMap.getPhases(0)}, 0)"></div>
            <h2 class="bold">Команды</h2>
            <div th:replace="administration/fragments :: players"></div>
        </div>
    </div>

    <div th:replace="administration/fragments :: vendorScripts"></div>
    <script th:src="@{/assets/js/administration/moderator/timer.js}"></script>
    <script th:src="@{/assets/js/administration/moderator/gameSessionController.js}"></script>
    <script th:src="@{/assets/js/administration/moderator/riskMap.js}"></script>
</body>
</html>