<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:include="appFragments :: headContent" th:remove="tag"></div>
    <link rel="stylesheet" th:href="@{/assets/css/administration/administration.css}">
    <link rel="stylesheet" th:href="@{/assets/css/administration/moderator/rolePlay.css}">
    <title>Ролевая игра | Панель модератора</title>
</head>
<body th:with="game = ${gameSession.game}">
    <div th:replace="appFragments :: preloader"></div>
    <div th:replace="administration/fragments :: game-session-header"></div>
    <div class="main-content">
        <div class="round-nav-and-commands">
            <h2 class="bold">Фазы раунда</h2>
            <div class="round-nav" th:with="currentPhase = ${game.phaseIndex}">
                <div th:each="phase,iter : ${game.phases}" class="phase-wrapper">
                    <div th:class="'phase animated ' + 'phase-' + ${phase.orderIndex}"
                         th:classappend="(${iter.index} == ${currentPhase} - 1? 'previous':(${iter.index} < ${currentPhase}? 'played':(${iter.index} == ${currentPhase}? 'active':(${iter.index} == ${currentPhase + 1}? 'next'))))">
                        <p class="phase-name" th:text="${phase.name}"></p>
                        <p class="timer" th:if="${phase.hasTimer}" th:text="${phase.getStrTimerDuration()}"></p>
                        <button class="add-30-sec-btn hidden" th:if="${phase.hasTimer}">+ 30с</button>
                        <p class="english-name hidden" th:text="${phase.englishName}"></p>
                    </div>
                    <div th:replace="administration/fragments :: confirmation-popup('Вернуться на предыдущую фазу?', 'previous-phase-popup-' + ${iter.index}, 'previous-phase-popup-btn')"></div>
                </div>

            </div>
            <div class="players-wrapper">
                <h2 class="bold">Команды</h2>
                <div th:replace="administration/fragments :: players"></div>
            </div>
            <div class="form-game-wrapper">
                <h2 class="bold">Настройки игры</h2>
                <div class="role-strategy-wrapper">
                    <p>Сценарий: </p>
                    <select class="inline">
                        <option th:each="strategy, iter : ${game.strategies}"
                                class="role-play-strategy-option"
                                th:selected="${iter.index == game.strategyNumber}"
                                th:value="${iter.index}"
                                th:text="${strategy}"></option>
                    </select>
                </div>
            </div>
        </div>
    </div>

    <p class="hidden" id="round-index" th:text="${game.roundIndex}"></p>
    <p class="hidden" id="game-id" th:text="${game.id}"></p>
    <script th:src="@{/assets/js/moderator.role-play-bundle.js}"></script>
</body>
</html>