<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <div th:fragment="user-pane" class="user-pane inline v-centered">
        <h3 sec:authentication="name" class="inline">...</h3>
        <form th:action="@{/logout/admin}" method="post" class="inline">
            <button type="submit">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M14 12h-4v-12h4v12zm4.213-10.246l-1.213 1.599c2.984 1.732 5 4.955 5 8.647 0 5.514-4.486 10-10 10s-10-4.486-10-10c0-3.692 2.016-6.915 5-8.647l-1.213-1.599c-3.465 2.103-5.787 5.897-5.787 10.246 0 6.627 5.373 12 12 12s12-5.373 12-12c0-4.349-2.322-8.143-5.787-10.246z"></path></svg>
            </button>
        </form>
    </div>

    <div th:fragment="header" class="header v-centered">
        <h1 class="inline">Мои игры</h1>
        <div class="header-center-content">
            <form class="search-field inline v-centered">
                <svg id="input-search-icon" xmlns="http://www.w3.org/2000/svg" class="inline"><title>search</title><path d="M19.427 20.427c-1.39 0.99-3.090 1.573-4.927 1.573-4.694 0-8.5-3.806-8.5-8.5s3.806-8.5 8.5-8.5c4.694 0 8.5 3.806 8.5 8.5 0 2.347-0.951 4.472-2.49 6.010l5.997 5.997c0.275 0.275 0.268 0.716-0.008 0.992-0.278 0.278-0.72 0.28-0.992 0.008l-6.081-6.081zM14.5 21c4.142 0 7.5-3.358 7.5-7.5s-3.358-7.5-7.5-7.5c-4.142 0-7.5 3.358-7.5 7.5s3.358 7.5 7.5 7.5v0z"></path></svg>
                <input id="search-input" type="text" placeholder="Искать" class="inline">
                <svg class="inline" id="mobile-close-search-icon" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M24 20.188l-8.315-8.209 8.2-8.282-3.697-3.697-8.212 8.318-8.31-8.203-3.666 3.666 8.321 8.24-8.206 8.313 3.666 3.666 8.237-8.318 8.285 8.203z"></path></svg>
            </form>
            <svg id="mobile-search-icon" xmlns="http://www.w3.org/2000/svg" class="inline"><path d="M19.427 20.427c-1.39 0.99-3.090 1.573-4.927 1.573-4.694 0-8.5-3.806-8.5-8.5s3.806-8.5 8.5-8.5c4.694 0 8.5 3.806 8.5 8.5 0 2.347-0.951 4.472-2.49 6.010l5.997 5.997c0.275 0.275 0.268 0.716-0.008 0.992-0.278 0.278-0.72 0.28-0.992 0.008l-6.081-6.081zM14.5 21c4.142 0 7.5-3.358 7.5-7.5s-3.358-7.5-7.5-7.5c-4.142 0-7.5 3.358-7.5 7.5s3.358 7.5 7.5 7.5v0z"></path></svg>
        </div>
        <div th:replace="administration/fragments :: user-pane"></div>
    </div>

    <div th:fragment="flash"
         th:if="${flash != null}">
        <div class="flash-placeholder">
            <p class="flash"
               th:classappend="${#strings.toLowerCase(flash.status)}"
               th:text="${flash.message}"></p>
        </div>
    </div>

    <div th:fragment="game-session-header" class="game-session-header">
        <div class="game-nav">
            <a th:href="@{/moderator}">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M5 3l3.057-3 11.943 12-11.943 12-3.057-3 9-9z"></path></svg>
                <span>Мои игры</span>
            </a>
            <div class="game-nav-views">
                <a th:href="@{|/moderator/gameSession/${gameSession.id}|}" th:classappend="${dashboardView}?'selected':''">Модератор</a>
                <span>|</span>
                <a th:href="@{|/moderator/gameSession/${gameSession.id}/gamer|}">Участник</a>
                <span>|</span>
                <a th:href="@{|/moderator/gameSession/${gameSession.id}/projector|}" target="_blank">Проектор</a>
            </div>
            <div th:replace="administration/fragments :: user-pane"></div>
        </div>
        <div class="game-info">
            <div class="date-type">
                <p class="bold" th:text="${gameSession.game.russianName}">...</p>
                <p id="game-session-active-date" class="pale" th:text="${gameSession.activeDate}">...</p>
            </div>
            <h1 class="session-str-id" th:text="${gameSession.strId}"></h1>
            <button class="v-centered" id="game-session-settings-btn">
                <p>Настройки</p>
                <svg class="dark-svg" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M24 13.616v-3.232c-1.651-.587-2.694-.752-3.219-2.019v-.001c-.527-1.271.1-2.134.847-3.707l-2.285-2.285c-1.561.742-2.433 1.375-3.707.847h-.001c-1.269-.526-1.435-1.576-2.019-3.219h-3.232c-.582 1.635-.749 2.692-2.019 3.219h-.001c-1.271.528-2.132-.098-3.707-.847l-2.285 2.285c.745 1.568 1.375 2.434.847 3.707-.527 1.271-1.584 1.438-3.219 2.02v3.232c1.632.58 2.692.749 3.219 2.019.53 1.282-.114 2.166-.847 3.707l2.285 2.286c1.562-.743 2.434-1.375 3.707-.847h.001c1.27.526 1.436 1.579 2.019 3.219h3.232c.582-1.636.75-2.69 2.027-3.222h.001c1.262-.524 2.12.101 3.698.851l2.285-2.286c-.744-1.563-1.375-2.433-.848-3.706.527-1.271 1.588-1.44 3.221-2.021zm-12 2.384c-2.209 0-4-1.791-4-4s1.791-4 4-4 4 1.791 4 4-1.791 4-4 4z"></path></svg>
            </button>
            <div class="popup-wrapper change-session-popup" th:classappend="${showChangePopup == null} or ${!showChangePopup} ? 'hidden'">
                <div class="popup">
                    <div class="popup-back"></div>
                    <div class="popup-content">
                        <div th:replace="administration/fragments :: popupHeader('Настройки')"></div>
                        <form th:action="@{/moderator/changeGameSession}"
                              th:object="${changeGameSessionDto}" method="post">
                            <div th:replace="administration/fragments :: gameSessionFormContent(false)"></div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div th:fragment="round-count-bar" class="round-count-bar" th:with="gameType = ${gameSession.game.englishName}">
        <h2 class="bold" th:text="#{${gameType + '.round.count.heading'}}">Раунд</h2>
        <div class="rounds">
            <div th:replace="administration/fragments :: confirmation-popup(#{${gameType + '.round.count.popup'}}, 'early-round-finish-popup', 'early-round-finish-btn')"></div>
            <div class="round-wrapper" th:each="round,iter : ${gameSession.rounds}">
                <div class="round animated"
                     th:with="currentRound = ${gameSession.currentRoundIndex}"
                     th:classappend="(${iter.index} == ${currentRound} ? 'active' : (${iter.index} == ${currentRound + 1}? 'next' : (${iter.index} < ${currentRound}? 'played')))"
                     th:id="'round-' + ${iter.index}">
                    <p th:text="${iter.count}"></p>
                </div>
                <div class="round-info-wrapper hidden">
                    <div class="round-info">
                        <svg class="close-round-info-btn" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M24 20.188l-8.315-8.209 8.2-8.282-3.697-3.697-8.212 8.318-8.31-8.203-3.666 3.666 8.321 8.24-8.206 8.313 3.666 3.666 8.237-8.318 8.285 8.203z"></path></svg>
                        <p th:text="'Раунд ' + ${iter.count}"></p>
                        <p th:text="'Правильный ответ: ' + ${gameSession.game.getCorrectAnswer(__${iter.index}__)}"></p>
                        <div class="players-stats-box">
                            <div th:each="player : ${gameSession.players}" class="player-stats" th:classappend="'player-stats-' + ${player.username}">
                                <p th:text="'Команда ' + ${player.commandName}"></p>
                                <p>
                                    Ответ:
                                    <span th:text="' ' + (${player.getDecision(__${iter.index}__).answer}?:'-')"
                                          class="round-info-player-answer"></span>
                                </p>
                                <p>
                                    Заработано баллов:
                                    <span th:text="' ' + ${player.getScoreForRound(__${iter.index}__)}"
                                          class="round-info-player-score"></span>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <button id="pass-round-btn">Пропустить раунд</button>
        <div th:replace="administration/fragments :: confirmation-popup(#{${gameType + '.round.count.skip'}}, 'pass-round-popup', 'pass-round-popup-btn')"></div>
        <button id="game-over-btn">Завершить игру</button>
        <div th:replace="administration/fragments :: confirmation-popup('Завершить игру досрочно?', 'early-game-finish-popup', 'early-game-finish-btn')"></div>
    </div>

    <div th:fragment="roundNav(phases, roundNumber)" class="round-nav" th:classappend="'round-nav-' + ${roundNumber}">
        <div th:each="phase,iter : ${phases}">
            <div th:class="'phase animated ' + 'phase-' + ${phase.id}"
                 th:with="currentPhase = ${gameSession.currentPhaseNumber}"
                 th:classappend="(${iter.index} == ${currentPhase} - 1? 'previous':(${iter.index} < ${currentPhase}? 'played':(${iter.index} == ${currentPhase}? 'active':(${iter.index} == ${currentPhase + 1}? 'next'))))">
                <p class="phase-name" th:text="(${iter.index} == ${phases.size() - 1} and ${gameSession.currentRoundIndex} == ${gameSession.game.numberOfRounds - 1}) ? #{game.message.finish} : ${phase.name}"></p>
                <p class="timer" th:if="${phase.hasTimer}" th:text="(${iter.index} == ${currentPhase} and ${gameSession.timerIsRunning()}) ? ${gameSession.getRemainingTimerTime()} : ${phase.getStrTimerDuration()}"></p>
                <button class="add-30-sec-btn hidden" th:if="${phase.hasTimer}">+ 30с</button>

                <p class="timer-original-value hidden" th:if="${phase.hasTimer}" th:text="${phase.getStrTimerDuration()}"></p>
                <p class="timer-is-running hidden" th:if="${phase.hasTimer} and ${currentPhase} == ${iter.index} and ${gameSession.timerIsRunning()}"></p>
                <p class="timer-finished hidden" th:if="${phase.hasTimer} and ${currentPhase} == ${iter.index} and ${!gameSession.timerIsRunning()}"></p>
            </div>
            <div th:replace="administration/fragments :: confirmation-popup('Вернуться на предыдущую фазу?', 'previous-phase-popup-' + ${iter.index}, 'previous-phase-popup-btn')"></div>
        </div>
    </div>

    <div class="players" th:fragment="players">
        <div class="player connected player-template hidden">
            <div class="player-info">
                <p class="command-name bold"></p>
                <svg class="player-logout-svg" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M14 12h-4v-12h4v12zm4.213-10.246l-1.213 1.599c2.984 1.732 5 4.955 5 8.647 0 5.514-4.486 10-10 10s-10-4.486-10-10c0-3.692 2.016-6.915 5-8.647l-1.213-1.599c-3.465 2.103-5.787 5.897-5.787 10.246 0 6.627 5.373 12 12 12s12-5.373 12-12c0-4.349-2.322-8.143-5.787-10.246z"></path></svg>
            </div>
        </div>
        <div class="player v-centered animated" th:each="player : ${gameSession.players}"
             th:id="${player.username}"
             th:classappend="${loggedInPlayers.contains(player.username)?'connected':''}">
            <div class="player-info">
                <p th:id="${player.username} + '-command-name'" class="command-name bold" th:text="${player.commandName}"></p>
                <svg th:id="${player.username} + '-logout'" class="player-logout-svg" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M14 12h-4v-12h4v12zm4.213-10.246l-1.213 1.599c2.984 1.732 5 4.955 5 8.647 0 5.514-4.486 10-10 10s-10-4.486-10-10c0-3.692 2.016-6.915 5-8.647l-1.213-1.599c-3.465 2.103-5.787 5.897-5.787 10.246 0 6.627 5.373 12 12 12s12-5.373 12-12c0-4.349-2.322-8.143-5.787-10.246z"></path></svg>
            </div>
        </div>
    </div>

    <div th:fragment="confirmation-popup (message, popupId, yesBtnClass)" class="confirmation-popup" th:id="${popupId}">
        <div class="confirmation-popup-back animated"></div>
        <div class="confirmation-popup-content" th:id="${popupId} + '-content'">
            <p th:text="${message}"></p>
            <div class="button-line">
                <button th:class="${yesBtnClass}">Да</button>
                <button class="confirmation-popup-no-btn">Нет</button>
            </div>
        </div>
    </div>

    <div th:fragment="vendorScripts" th:remove="tag">
        <script src="/webjars/jquery/jquery.js"></script>
        <script src="/webjars/tablesorter/js/jquery.tablesorter.js"></script>
        <script src="/webjars/sockjs-client/sockjs.min.js"></script>
        <script src="/webjars/stomp-websocket/stomp.min.js"></script>
        <script th:src="@{/assets/js/vendor/jquery-color.js}"></script>
    </div>

    <div class="game-session-form-content" th:fragment="gameSessionFormContent(createNew)">
        <div class="flash-placeholder" th:if="${#fields.hasErrors('newStrId')}" >
            <p th:errors="*{newStrId}" class="flash"></p>
        </div>
        <input type="hidden" th:field="*{oldStrId}">
        <input type="hidden" th:field="*{gameSessionId}">
        <p>Код игры</p>
        <input type="text" name="newStrId" th:value="*{__${createNew ? 'newStrId' : 'oldStrId'}__}">
        <p>Дата проведения</p>
        <input type="date" th:field="*{activeDate}">
        <div th:remove="${createNew} ? 'tag' : 'all'">
            <p>Тип входа</p>
            <select th:field="*{authenticationType}">
                <option th:each="type : *{authenticationTypes}" th:value="${type}" th:text="${type}"></option>
            </select>
        </div>
        <div th:remove="${createNew} ? 'tag' : 'all'">
            <label>Тип игры</label>
            <select class="game-type-select"
                    th:field="*{gameType}">
                <option th:each="gameType : *{gameTypes}" th:value="${gameType}" th:text="${gameType}"></option>
            </select>
        </div>
        <div th:remove="${createNew} ? 'tag' : 'all'">
            <p class="risk-map-type-label"
               th:classappend="*{gameType} != 'Карта рисков' ? 'hidden' : ''">Тип карты</p>
            <select class="risk-map-type-select"
                    th:field="*{riskMapType}"
                    th:classappend="*{gameType} != 'Карта рисков' ? 'hidden' : ''">
                <option th:each="riskMapType : *{riskMapTypes}"
                        th:text="${riskMapType.russianName}"
                        th:value="${riskMapType}"></option>
            </select>
        </div>

        <button class="popup-submit-btn" type="submit" th:text="${createNew ? 'Создать' : 'Изменить'}"></button>
    </div>

    <div class="popup-header" th:fragment="popupHeader(headerText)">
        <h1 th:text="${headerText}">Создать новую игру</h1>
        <svg class="close-popup-btn" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M24 20.188l-8.315-8.209 8.2-8.282-3.697-3.697-8.212 8.318-8.31-8.203-3.666 3.666 8.321 8.24-8.206 8.313 3.666 3.666 8.237-8.318 8.285 8.203z"></path></svg>
    </div>
</body>
</html>