<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>МОЗ | Панель администратора</title>
    <link rel="stylesheet" th:href="@{/assets/css/app.css}">
    <link rel="stylesheet" th:href="@{/assets/css/login.css}">
</head>
<body>
    <div class="container">
        <img th:src="@{/assets/image/logo.png}" alt="logo" >
        <form th:action="@{/login/admin}" method="post">
            <div th:replace="administration/fragments :: flash"></div>
            <input type="text" name="username" placeholder="Имя пользователя" autocomplete="off" >
            <input type="password" name="password" placeholder="Пароль" autocomplete="off" >
            <!--<div class="error-message" ></div>-->
            <!--<div class="error-message" ></div>-->
            <button type="submit">Войти</button>
            <a th:href="@{/}">Войти как игрок</a>
        </form>
    </div>
</body>
</html>