<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Title</title>
</head>
<body>
    <div th:fragment="content"
         class="phase-container"
         th:with="phaseName = 'GREETING'"
         th:classappend="${game.phaseName} == ${phaseName}? 'active' : ''"
         id="greeting-phase">
        <h2 class="timer">00:00</h2>
        <div class="card-panel secondary-color-bg">
            <p class="middle-font-size light-font left-align">Ответьте на вопросы сначала индивидуально,
                а как будете готовы - поделитесь ответами с коллегами, сидящими рядом</p>
        </div>
        <p class="middle-font-size left-align light-font">1. Как вас зовут?</p>
        <p class="middle-font-size left-align light-font">2. Кем и в какой компании вы работаете?</p>
        <p class="middle-font-size left-align light-font">3. Выберите из изображений то, которое наибольшим
            образом ассоциируется с вашей работой и поясните, почему.</p>

        <div class="hide show-after-chose">
            <textarea type="text"
                      class="materialize-textarea middle-font-size light-font"
                      placeholder="Почему?"
                      id="greeting-why-img-input"></textarea>
            <input type="hidden" id="greeting-answer-id-input">
            <div class="btn-pane">
                <button class="btn change-btn greeting-change-chose-btn">Изменить выбор</button>
                <button class="btn ready-btn greeting-send-btn">Отправить</button>
            </div>
        </div>
        
        <div class="swiper-container">
            <div class="swiper-wrapper">
                <div th:each="i : ${#numbers.sequence(1,25)}" class="swiper-slide">
                    <img th:src="@{'/assets/image/conference/small/pict' + ${i} + '.jpg'}"
                         th:id="${'greeting-img-' + (i - 1)}"
                         alt="">
                    <button class="btn greeting-choose-btn hide-after-chose">ВЫБРАТЬ</button>
                </div>
            </div>

            <div class="swiper-pagination swiper-pagination-white hide-after-chose"></div>

            <div class="swiper-button-prev swiper-button-white hide-after-chose"></div>
            <div class="swiper-button-next swiper-button-white hide-after-chose"></div>
        </div>

        <div class="hide chosen-img-wrapper">
            <button class="btn change-btn greeting-change-choice-btn">Изменить выбор</button>
        </div>
    </div>
</body>
</html>