<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Title</title>
</head>
<body>
    <div th:fragment="content"
         class="phase-container"
         th:classappend="${game.phaseIndex} == 2? 'active' : ''"
         th:with="mapLayoutPage = ${'game/riskMapFragments/riskMap-office'}"
         id="risk-map-phase">
        <div class="projector-wrapper" th:if="${projectorMode}">
            <h1 class="timer">00:00</h1>
            <div th:replace="this :: riskGrid"></div>
        </div>

        <div th:remove="${projectorMode} ? 'all' : 'tag'">
            <h2 th:text="#{riskMap.phase1.message}" th:unless="${projectorMode}"></h2>
            <h1 class="timer">00:00</h1>
            <a class="how-it-scores-btn modal-trigger" href="#how-it-scores-modal">Как считаются баллы?</a>

            <div class="modal" id="how-it-scores-modal">
                <div class="modal-content">
                    <div th:fragment="howItScoresGrid" class="how-it-scores-grid">
                        <p class="how-it-scores-your-answer">Ваш ответ</p>
                        <div class="no-answer how-it-scores-legend"></div>
                        <div class="no-level how-it-scores-legend"></div>
                        <div class="low-level how-it-scores-legend"></div>
                        <div class="mid-level how-it-scores-legend"></div>
                        <div class="high-level how-it-scores-legend"></div>

                        <div class="grid-empty-space"></div>

                        <p class="how-it-scores-correct-answer">Правильный ответ</p>
                        <div class="no-answer how-it-scores-legend"></div>
                        <p th:each="score : ${game.getRiskMapPossibleScore(-1)}" th:text="${score}">0</p>
                        <div class="no-level how-it-scores-legend"></div>
                        <p th:each="score : ${game.getRiskMapPossibleScore(0)}" th:text="${score}">0</p>
                        <div class="low-level how-it-scores-legend"></div>
                        <p th:each="score : ${game.getRiskMapPossibleScore(1)}" th:text="${score}">0</p>
                        <div class="mid-level how-it-scores-legend"></div>
                        <p th:each="score : ${game.getRiskMapPossibleScore(2)}" th:text="${score}">0</p>
                        <div class="high-level how-it-scores-legend"></div>
                        <p th:each="score : ${game.getRiskMapPossibleScore(3)}" th:text="${score}">0</p>
                    </div>
                </div>
            </div>

            <div class="risk-grid" th:fragment="riskGrid">
                <div th:each="i : ${#numbers.sequence(1,12)}"
                     th:class="'risk-img-cell risk-img-cell-' + ${i - 1}">
                    <div class="small-img-wrapper modal-trigger"
                         th:href="${'#risk-map-answer-modal-' + i}">
                        <img th:fragment="smallImg"
                             th:src="@{|/assets/image/riskMap/temporal_new_office/low_2000/low_2000_${#numbers.formatInteger(i, 2)}.jpg|}"
                             th:id="${i / 4 + '' + i % 4 + '-small-img'}"
                             class="risk-small-img animated scale-on-hover">
                        <div th:fragment="riskIndicator(correctAnswerIcon)"
                             class="risk-indicator hidden no-answer">
                            <svg th:if="${correctAnswerIcon} != null and ${correctAnswerIcon}"
                                 class="correct-answer-icon hidden" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                                <path d="M20.285 2l-11.285 11.567-5.286-5.011-3.714 3.716 9 8.728 15-15.285z"></path>
                            </svg>
                        </div>
                    </div>

                    <div class="modal"
                         th:id="${'risk-map-answer-modal-' + i}">
                        <div class="modal-content">
                            <p class="middle-font-size" th:text="#{riskMap.office.phase1.answerPopup}"></p>
                            <img th:fragment="bigImg"
                                 th:src="@{|/assets/image/riskMap/office/big_with_sectors/${i}-01.jpg|}"
                                 th:id="${i / 4 + '' + i % 4 + '-large-img'}">
                            <div th:fragment="answerInput" class="answer-inputs">
                                <div class="answer-input no-answer animated selected">
                                    <svg class="selected-svg animated" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                                        <path d="M20.285 2l-11.285 11.567-5.286-5.011-3.714 3.716 9 8.728 15-15.285z"></path>
                                    </svg>
                                </div>
                                <div class="answer-input no-level animated">
                                    <svg class="selected-svg animated" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                                        <path d="M20.285 2l-11.285 11.567-5.286-5.011-3.714 3.716 9 8.728 15-15.285z"></path>
                                    </svg>
                                </div>
                                <div class="answer-input low-level animated">
                                    <svg class="selected-svg animated" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                                        <path d="M20.285 2l-11.285 11.567-5.286-5.011-3.714 3.716 9 8.728 15-15.285z"></path>
                                    </svg>
                                </div>
                                <div class="answer-input mid-level animated">
                                    <svg class="selected-svg animated" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                                        <path d="M20.285 2l-11.285 11.567-5.286-5.011-3.714 3.716 9 8.728 15-15.285z"></path>
                                    </svg>
                                </div>
                                <div class="answer-input high-level animated">
                                    <svg class="selected-svg animated" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                                        <path d="M20.285 2l-11.285 11.567-5.286-5.011-3.714 3.716 9 8.728 15-15.285z"></path>
                                    </svg>
                                </div>
                            </div>
                            <p class="modal-close btn">ОК</p>
                        </div>
                    </div>
                </div>
            </div>

            <button th:fragment="sendResponsesBtn"
                    class="btn-large ready-btn risk-map-send-responses-btn"
                    th:unless="${projectorMode}"
                    th:text="'Отправить ответы'"></button>
        </div>
    </div>
</body>
</html>