* {
    font-family: "Circe Light", serif;
    font-size: 15px;
    border: none;
    background-color: transparent;
}

body {
    background: none;
}

button {
    cursor: pointer;
}

svg {
    max-height: 30px;
    max-width: 30px;
}

/***************
* header css
****************/

.search-field > *,
.user-pane > * {
    margin-left: 5px;
}

.header {
    background-color: #4E3549;
    height: 60px;
    padding: 0 25px;
    box-shadow: 0 0 10px 0 #524f55;
    color: rgba(255,255,255,0.9);
    fill: rgba(255,255,255,0.9);
}

.header-center-content {
    display: flex;
    flex-grow: 1;
    flex-shrink: 0;
    flex-basis: auto;
    justify-content: left;
}

.search-field {
    background-color: white;
    max-width: 300px;
    height: 40px;
    justify-content: left;
    border-radius: 10px;
    display: none;
}

.user-pane {
    margin-left: 25px;
}

#search-input {
    height: 100%;
    font-size: 17px;
    width: 80%;
    flex-grow: 1;
}

#input-search-icon,
.edit-icon {
    fill: #4E3549;
}

#mobile-close-search-icon {
    display: none;
    cursor: pointer;
    margin: 0 10px;
    fill: #4E3549;
}

#mobile-search-icon {
    cursor: pointer;
}

/********************
* GAME-SESSION-HEADER
*********************/

/* game-nav */
.game-session-header {
    display: none;
}

.game-nav {
    height: 30px;
    padding: 5px;
    align-content: center;
    display: flex;
    background-color: #4E3549;
    box-shadow: #524f55 0 4px 4px -2px;
}

.game-nav a,
.game-nav span,
.game-nav h3 {
    text-decoration: none;
    color: white;
    opacity: 0.9;
}

.game-nav > a {
    display: flex;
    align-content: center;
}

.game-nav svg {
    -moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    height: 15px;
    fill: white;
    opacity: 0.9;
    margin: auto;
}

.game-nav-views {
    flex-grow: 1;
    display: flex;
    justify-content: center;
}

.game-nav-views a {
    width: 100px;
    text-align: center;
}

.selected {
    background-color: white;
    border-radius: 10px;
    padding: 0 5px;
    color: #4E3549 !important;
}

/* game-info */
.game-info {
    height: 70px;
    display: flex;
    padding: 5px;
    border-bottom: #4E3549 1px dotted;
}

.date-type {
    margin: auto;
    color: #4E3549;
}

.session-str-id {
    flex-grow: 1;
    font-size: 30px;
    text-align: center;
    margin: auto;
    color: #94678f;
}

.game-info svg {
    margin-left: 10px;
}

/****************
* round-COUNT-BAR
****************/

.round-count-bar {
    display: flex;
    justify-content: center;
}

.round-count-bar h2 {
    margin: auto;
}

.rounds {
    flex-grow: 1;
    display: flex;
    justify-content: center;
}

.round {
    display: flex;
    width: 30px;
    height: 30px;
    border-radius: 10px;
    border: #4E3549 1px solid;
    margin: auto 5px;
    cursor: default;
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
}

.round p {
    margin: auto;
}

.active {
    background-color: #dfcadb !important;
    /*border-color: #4a9d61 !important;*/
    /*color: white;*/
}

.passed,
.played {
    background-color: #d7d7d7 !important;
    border-color: #d7d7d7 !important;
    color: #959595
}

/*.played {
    background-color: #4E3549 !important;
    color: white !important;
}*/

.next {
    /*background-color: #4a9d61;*/
    cursor: pointer !important;
    box-shadow: #524f55 2px 4px 2px -2px;
}

.next:hover {
    background-color: #4158d0;
    color: white;
}

.connected {
    background-color: #4158d0 !important;
    color: white !important;
}

.disconnected {
    background-color: tomato !important;
}

#pass-round-btn,
#game-over-btn {
    padding: 5px;
    border-radius: 5px;
    border: #4E3549 1px solid;
    width: 100%;
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
}

#pass-round-btn:hover {
    color: #9053c7;
    border-color: #9053c7;
}

#game-over-btn:hover {
    background-color: tomato;
    color: white;
}

/*******************
* CONFIRMATION-POPUP
*******************/
.confirmation-popup {
    display: none;
    width: 0;
    height: 0;
    margin: 0 !important;
    padding: 0;
}

.confirmation-popup-back {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: tomato;
    opacity: 0.2;
    z-index: 1;
}

.confirmation-popup-content {
    background-color: white;
    padding: 10px;
    border-radius: 10px;
    border: #4E3549 1px solid;
    position: relative;
    width: 100%;
    margin: auto 5px;
    z-index: 2;
}

.button-line {
    margin-top: 10px;
    display: flex;
    justify-content: space-evenly;
}

.confirmation-popup button {
    width: 50px;
    border: #4E3549 1px solid;
    border-radius: 10px;
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
}

.confirmation-popup button:hover {
    background-color: #e9a6e4;
}

@media(min-device-width: 769px) {
    .header-center-content {
        justify-content: center;
    }

    .search-field {
        display: flex;
        width: 300px;
    }

    #mobile-search-icon {
        display: none;
    }

    .game-session-header {
        display: block;
    }

    .round-count-bar {
        display: block;
        width: 150px;
        text-align: center;
        margin: auto;
    }

    .round-count-bar > * {
        margin: 5px auto;
    }

    .rounds {
        display: block;
    }

    .round {
        margin: 5px auto;
    }

    .confirmation-popup-content {
        width: 200px;
    }

    #early-game-finish-popup-content,
    #pass-round-popup-content {
        bottom: 50px;
    }
}