/*******************
* New session button
*******************/

.new-session-wrapper {
    margin-top: 20px;
    display: flex;
    justify-content: center;
}

.new-session-popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 1;
}

.flash {
    text-align: center;
    margin-top: 20px;
}

.new-session-popup-background {
    position: relative;
    width: 100vw;
    height: 100vh;
    z-index: 2;
    background-color: rgba(78,53,73,0.8);
}

.new-session-popup-content {
    position: fixed;
    display: block;
    justify-content: center;
    top: 60px;
    width: 100%;
    z-index: 3;
    border-radius: 10px;
    background-color: white;
}

.popup-header * {
    display: inline;
    text-align: center;
}

.popup-header {
    text-align: center;
    margin-top: 20px;
    color: #4E3549;
}

.popup-form-wrapper {
    display: flex;
    justify-content: center;
    margin: 20px 0;
}

.new-session-popup-content form {
    width: 80%;
    text-align: right;
    display: block;
}

.popup-form-col1,
.popup-form-col2 {
    width: 50%;
    margin-top: 10px;
}

.popup-form-col1 {
    float: left;
    text-align: left;
}

.popup-form-col2 {
    border: dotted 1px #4E3549;
    border-radius: 5px;
    padding: 0 5px;
}

.popup-submit-btn {
    margin-top: 10px;
    text-decoration: underline;
    color: #4a9d61;
}

#close-popup-button {
    display: inline;
    position: fixed;
    right: 5px;
    fill: #4E3549;
}

#close-popup-button svg {
    height: 15px;
}

#new-session-btn {
    background-color: #4a9d61;
    padding: 10px 20px;
    border-radius: 10px;
    color: white;
    box-shadow: 0 4px 2px -2px #524f55;
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
}

#new-session-btn:hover {
    background-color: rgb(78,53,73);
}

/***************
* Sessions panel
****************/

table {
    width: 100%;
    border-radius: 0 10px 10px 10px;
    border-collapse: collapse;
}

tr {
    cursor: pointer;
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
}

tr:nth-child(odd) {
    background-color: rgba(78,53,73,0.3);
}

tr:last-child td:first-child {
    border-radius: 0 0 0 10px;
}

tr:last-child td:last-child {
    border-radius: 0 0 10px 0;
}

tr:first-child td:last-child {
    border-radius: 0 10px 0 0;
}

tr:hover {
    background-color: #4E3549;
}

tr:hover * {
    color: white;
    fill: white;
}

td {
    padding: 0 10px;
    align-content: center;
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
}

.session-container {
    width: 100vw;
    margin: 0;
    display: flex;
    justify-content: center;
}

.session-panel {
    width: 100%;
    margin-top: 10px;
    padding: 0 5px;
}

.session-panel a {
    color: initial;
    text-decoration: none;
}

.column1, .column2 {
    width: 40%;
}

.column3 {
    width: 20%;
}

td button {
    display: flex;
    align-content: center;
    height: 40px;
}

.tab-btn {
    cursor: pointer;
    display: inline-block;
    text-align: center;
    border-radius: 10px 10px 0 0;
    padding: 5px;
    margin-top: 10px;
    height: 30px;
    width: 100px;
}

.tab-btn-pane input {
    display: none;
}

#past-sessions-table {
    display: none;
}

#active-sessions-tab-btn {
    background-color: rgba(78,53,73,0.3);
}

@media(min-width: 769px) {
    .new-session-wrapper {
        justify-content: flex-end;
        padding-right: 100px;
    }

    .new-session-popup-content {
        width: 400px;
        right: 5px;
    }

    #close-popup-button {
        right: 10px;
    }

    .header-center-content {
        justify-content: center;
    }

    .search-field {
        display: flex;
        width: 300px;
    }

    #mobile-search-icon {
        display: none;
    }

    .session-panel {
        width: 70%;
        margin-top: 20px;
    }
}