/*********************************
*         NEW SESSION BTN        *
**********************************/

.new-session-wrapper {
    margin-top: 20px;
    display: flex;
    justify-content: center;
}

.flash {
    text-align: center;
}

#new-session-btn {
    background-color: #4a9d61;
    padding: 10px 20px;
    border-radius: 10px;
    color: white;
    box-shadow: 0 4px 2px -2px #524f55;
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
}

#new-session-btn:hover {
    background-color: rgb(78,53,73);
}

/*********************************
*          SESSIONS PANEL        *
**********************************/

table {
    width: 100%;
    border-radius: 0 10px 10px 10px;
    border-collapse: collapse;
}

tr {
    cursor: pointer;
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
}

tr:nth-child(even),
tr:nth-child(even) .edit-menu {
    background-color: white;
}

tr:nth-child(odd),
tr:nth-child(odd) .edit-menu,
.tab-btn.chosen {
    background-color: #bcb3bb;
}

tr:last-child td:first-child {
    border-radius: 0 0 0 10px;
}

tr:last-child td:last-child {
    border-radius: 0 0 10px 0;
}

tr:first-child td:last-child {
    border-radius: 0 10px 0 0;
}

tr:hover {
    background-color: #4E3549;
}

tr:hover td > a,
tr:hover td > svg
{
    color: white;
    fill: white;
}

td {
    padding: 0 10px;
    align-content: center;
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
}

.session-container {
    width: 100vw;
    margin: 0;
    display: flex;
    justify-content: center;
}

.session-panel {
    width: 100%;
    margin-top: 10px;
    padding: 0 5px;
}

.session-panel a {
    color: initial;
    text-decoration: none;
}

.column1, .column2 {
    width: 40%;
}

.column3 {
    width: 20%;
}

td > button {
    display: flex;
    align-content: center;
    height: 40px;
}

.tab-btn {
    cursor: pointer;
    display: inline-block;
    text-align: center;
    border-radius: 10px 10px 0 0;
    padding: 5px;
    margin-top: 10px;
    height: 30px;
    width: 100px;
    background-color: transparent;
}

.column3:hover .popup-wrapper > * {
    color: #4E3549;
}

.edit-menu-wrapper {
    position: relative;
}

.edit-menu {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
    color: #4E3549;
    text-align: left;
    padding: 10px;
    border-left: #4E3549 1px solid;
    border-bottom: #4E3549 1px solid;
    border-right: #4E3549 1px solid;
}


.edit-menu p:hover {
    font-family: "Circe Bold", serif;
}

/*********************************
*          MEDIA QUERIES         *
**********************************/

@media(min-width: 769px) {
    .new-session-wrapper {
        justify-content: flex-end;
        padding-right: 100px;
    }

    .new-session-popup-content {
        width: 400px;
        right: 5px;
    }

    #close-popup-button {
        right: 10px;
    }

    .header-center-content {
        justify-content: center;
    }

    .search-field {
        display: flex;
        width: 300px;
    }

    #mobile-search-icon {
        display: none;
    }

    .session-panel {
        width: 70%;
        margin-top: 20px;
    }
}